@import '../../styles/abstracts/variables';

.table {
  :global(.ant-pagination-item:focus),
  :global(.ant-pagination-item:hover),
  :global(.ant-pagination-item-active),
  :global(.ant-pagination-item-active:focus),
  :global(.ant-pagination-item-active:hover) {
    border-color: $fa-color--brand-6 !important;
  }

  :global(.ant-pagination-item:focus a),
  :global(.ant-pagination-item:hover a),
  :global(.ant-pagination-item-active a),
  :global(.ant-pagination-item-active:focus a),
  :global(.ant-pagination-item-active:hover a) {
    color: $fa-color--brand-6;
  }

  :global(.ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-content
      > table
      > thead
      > tr
      > th),
  :global(.ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-content
      > table
      > tbody
      > tr
      > td) {
    border: none;
  }

  :global(th.ant-table-cell),
  :global(td.ant-table-cell) {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: $fa-color--mono-5;
    min-height: 3rem !important;
    padding: 1rem !important;
  }

  :global(td.ant-table-cell:not(:last-child):not(.border-none)),
  :global(th.ant-table-cell:not(:last-child):not(.border-none)) {
    border-right: 1px solid #dadada !important;
  }

  :global(th.ant-table-cell.has-border),
  :global(td.ant-table-cell.has-border) {
    // msy be a last child with border
    border-right: 1px solid #dadada !important;
  }

  :global(th.ant-table-cell) {
    background: $fa-color--mono-1;
    font-weight: 600;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 0 !important;
    &:global(.bg-white) {
      background-color: $fa-color--white;
    }
    &:hover {
      background-color: darken($fa-color--mono-1,2%);
    }
  }

  :global(td.ant-table-cell) {
    font-weight: 400;
  }

  :global(.ant-checkbox-inner) {
    border-radius: 4px;
  }

  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: $fa-color--mono-6;
    border-color: $fa-color--mono-6;
  }

  :global(.ant-checkbox-input:focus + .ant-checkbox-inner) {
    border-color: $fa-color--mono-6;
  }

  :global(tr.ant-table-row-selected > td),
  :global(.ant-table-tbody > tr.ant-table-row:hover > td) {
    background: $fa-color--white;
  }

  :global(.ant-table-selection) {
    display: none;
  }
  :global(.ant-table-container) {
    border: 1px solid #dadada !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    overflow: hidden;
  }
}

.searchBar {
  border: 1px solid #dadada !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 3.5rem;

  :global(.ant-input-affix-wrapper) {
    border: none !important;
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  :global(.ant-input-affix-wrapper-focused) {
    outline: none !important;
    box-shadow: none !important;
  }

  .breakupHeading {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: $fa-color--mono-6;
  }

  .downloadCSVHeading {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: $fa-color--mono-6;
    opacity: 0.56;
  }

  .inputSearchBar {
    :global(input) {
      font-family: $font-family;
      font-style: normal;
      letter-spacing: -0.01em;
    }

    :global(.ant-input-prefix) {
      margin-right: 0.5rem;
    }
  }

  .inputPlaceHolderFont {
    :global(input) {
      font-weight: 600;
      font-size: 18px;
      color: $fa-color--mono-3;
      line-height: 24px;
    }
  }

  .inputTextFont {
    :global(input) {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

th.horizontalBarTableHeader {
  padding-left: 1rem !important;
}

.downloadBtn {
  display: flex;
  align-items: center;
  padding: 0;
}

.dashboardTable {
  :global(.ant-table-container) { 
    border: 0px !important;
  }
}

.filter-overlay {
  padding: 0 !important;
  min-width: 425px;
  :global(.ant-popover-arrow) {
    display: none;
  }
}
