.filter_block {
    display: flex;
    position: relative;
    align-items: center;        

    &__remove {
        position: absolute;
        left: -12px;
    }



    &__filter_content {
        color: #5949BC;
        font-weight: 500;
        font-size: 14px;
    }

    &__filter_select {
        position: absolute;
        top: 0;
        left: 90px;

        display: flex;
        flex-direction: column;
        
        width: 400px;
        padding: 1px;
        background: #FFFFFF;
        border: 1px solid #ACA4DE;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
        border-radius: 12px;

        z-index: 100;

        &__content {
            display: flex;
            flex-direction: column;
            border-top: 1px solid #8692A3;;
        }

        &__options {
            overflow: scroll;
            max-height: 300px;
            max-width: 400px;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;

            
        }

        &__values_options {
            max-height: 260px;
        }

        &__option {
            padding: 10px 14px;
            color: #3E516C;

        }

        &__apply {
            @extend .filter_block__filter_select__option_nomatch;
            justify-content: center;
            position: static;
            bottom: 0;
        }

        &__date {
            @extend .filter_block__filter_select__apply;
        }

        &__option_numerical {
            @extend .filter_block__filter_select__option_nomatch;
            justify-content: center;
            padding-top: 20px !important;

            input {
                box-sizing: border-box;
                border-radius: 6px;
            }

        }

        &__option_nomatch {
            display: flex;
            align-items: center;
            padding: 10px 16px;
        }

        &__option:hover {
            background: #F5F6F8;
            cursor: pointer;
        }

        &__option_group {
            padding: 10px 10px;
            display: flex;
            justify-content: space-between;
            color: #5949BC;
            border-top: 1px solid #E7E9ED;

            div {
                display: flex;
            }
            
        }

        &__option_group_container {
            display: flex;
            flex-direction: column;
        }

        &__option_group_container_sec {
            display: flex;
            flex-direction: column;
            max-height: 200px;
            overflow: scroll;
        }

        &__option_group:hover {
            cursor: pointer;
        }

        &__option_group:nth-of-type(2) {
            border-top: 1px solid #E7E9ED;
        }

        &__tag {
            background: #EEEDF8;
            border-radius: 6px;
            color: #5949BC;
            padding: 6px;
            margin-left: 4px;
        }
    }

    &__hd_overlay {
        background-color:transparent;
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:block;
        z-index: 50;
    }

}