
.query_block {

    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px;

    &__event {
        display: flex;
    }

    &__filters {
        display: flex;
    }


    &__add_event {
        display: inline;
        margin-right: 27px;

    }

    &__placeholder {
        font-size: 16px;
        color: #3E516C;

    }

    &__event_selector {
        position: absolute;
        left: 48px;
        top: 2px;

        .ant-select-selector {
            border-radius: 12px;
        }
    }

    &__actions {
        visibility: hidden;
    }

    &__selector_body {
        
    }

    &__selector_group {

        display: flex;

        svg {
            align-self: center;
        }

        span {
            background: #FFFFFF;
            margin-left: 8px;
            font-weight: 600;
            font-size: 12px;
            color: #0E2647;
            text-transform: uppercase;
        }

        
    }

    &__index {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        justify-content: end;
        background: #5949BC;
        color: white;
        vertical-align: text-bottom;
        line-height: 30px;
        padding: 2px 12px;
        align-self: center;

    }


    &__event_tag {
        margin-left: 24px;
        background: #F5F6F8;
        border-radius: 8px;
        padding: 15px;
        color: #5949BC;
        font-weight: 500;
        font-size: 14px;
        display: inline-flex;

        svg {
            margin-right: 8px;
            align-self: center;
        }
    }

    &__event_tag:hover {
        cursor: pointer;
    }

}

.query_block:hover .query_block__event_tag {
    background: white;
}

.query_block:hover .query_block__actions {
        visibility: visible;
}