$cq-card-transition: transform .2s ease-in-out;

.cardnew
{
    border: 1px solid #E7E9ED;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
    // width: 50vw;
    // margin-left: 1.2em;
    // overflow: hidden;
    &:first-child{
        margin-left: 0px; 
    }

    &:hover{
        box-shadow : 6px 7px 17px #E7E9ED;
    }
    &.disabled{
        pointer-events: none; 
        cursor: not-allowed;
        box-shadow : none !important;
        opacity: 0.7;
    }
}

.contentClass{
  height:70vh;
}