@import 'settings';
@import 'foundation-emails';

@import 'template/template';



body{
    list-style: $global-line-height;
    font-family: $body-font-family;
}
.brand-logo
{
    max-width: 175px;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-bold{
    font-weight: bold;
}
.primary-btn{
    background-color: #1890FF; 
    min-width: 150px; 
    border-radius: 4px;
    padding: 12px 20px;
    text-align: center;
    color: #fff !important;

    &.small{
        font-size: 14px;
        padding: 8px 20px;
    }

}
a{
    color:  #1890FF; 
}
.divider-line{
    border-top: 1px solid #E7E9ED;
    display: block;
    padding: 5px 0;
    margin: 10px 0;
    width: 100%;
    height: 1px; 
}

.divider-line-light{
    border-top: 0.4px solid #E7E9ED;
    display: block;
    padding: 5px 0;
    margin: 10px 0;
    width: 100%;
    height: 1px; 
}

.border{
    border: 1px solid #E7E9ED;
    border-radius: 5px !important;
}

.margin-left{
    margin-left: 15px;
}

.margin-right{
    margin-right: 15px;
}

.margin-top{
    margin-top: 20px;;
}

.h7{ 
    font-size: 14px;
}
.medium-grey{
    color: $medium-gray;
}
.light-grey{
    color: $light-gray;
}
