.drawerStyle {
  height: calc(100% - 64px);
  top: 64px;
}

.divider {
  margin: 12px 0px;
}

.engagedContainer {
  background: #f5f6f8;
  border-radius: 5px;
  padding: 2px 8px;
}

.mixChartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5fff9;
  width: 64px;
  height: 64px;
  border-radius: 10px;
}
