# frontend
frontend/dist
frontend/node_modules
frontend/package-lock.json

# backend
backend/pkg/**
backend/bin/**

backend/src/github.com/**
backend/src/golang.org/**

# js sdk
sdk/javascript/dist
sdk/javascript/node_modules
sdk/javascript/npm_package/index.js

# misc
misc/ingest_events/pkg/**
misc/ingest_events/bin/**
misc/ingest_events/src/golang.org/**
misc/ingest_events/src/github.com/**

*/.DS_Store
**/.DS_Store
.vscode

# Android SDK
sdk/android/*.iml
sdk/android/.gradle
sdk/android/local.properties
sdk/android/.idea/*
sdk/android/build/
sdk/android/captures/
sdk/android/.externalNativeBuild
sdk/android/dist/
# https://stackoverflow.com/questions/28708531/what-does-do-in-a-gitignore-file
sdk/android/*~