# frontend
frontend/dist
frontend/node_modules
frontend/.firebase

# frontend new
frontend-new/build
frontend-new/node_modules

# slack
slack-app/build
slack-app/node_modules

# backend
backend/pkg/**
backend/bin/**
backend/src/factors/tests/*.log
backend/src/default.etcd/

backend/src/github.com/**
backend/src/golang.org/**

# js sdk
sdk/javascript/dist
sdk/javascript/node_modules
sdk/javascript/npm_package/index.js
sdk/javascript/.firebase

# misc
misc/ingest_events/pkg/**
misc/ingest_events/bin/**
misc/ingest_events/src/golang.org/**
misc/ingest_events/src/github.com/**

# adwords
integrations/adwords/**/.swp
**/__pycache__
*.pyc
.venv/

*/.DS_Store
**/.DS_Store
**/*.rdb
.vscode
**/.idea
*.swp

# Android SDK
sdk/android/*.iml
sdk/android/.gradle
sdk/android/local.properties
sdk/android/.idea/*
sdk/android/build/
sdk/android/captures/
sdk/android/.externalNativeBuild
sdk/android/dist/
# https://stackoverflow.com/questions/28708531/what-does-do-in-a-gitignore-file
sdk/android/*~

# website
website/factors-ai/react-website/dist
website/factors-ai/react-website/.firebase

# IntelliJ IDE files/structure
/.idea/factors.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/
/backend/src/pkg/
/backend/src/src/
