# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# They will be requested for review when someone opens a pull request.
*       aravind@factors.ai dinesh@factors.ai


# Below folders will require approval from one of the owners.
/backend/src/factors/cache/redis/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/config/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/crm_enrichment/ maisa@factors.ai viknesh@factors.ai
/backend/src/factors/data_service/ dinesh@factors.ai kartheek+1@factors.ai maisa@factors.ai
/backend/src/factors/dd_attribution/ janani@factors.ai satya@factors.ai
/backend/src/factors/default_data/ kartheek+1@factors.ai dinesh@factors.ai
/backend/src/factors/delta/ anshul@factors.ai janani@factors.ai
/backend/src/factors/event_match/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/explain/ anshul@factors.ai janani@factors.ai vinith@factors.ai
/backend/src/factors/filestore/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/fivetran/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/fptree/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/handlers/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/histogram/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/integration/clear_bit/ roshan@factors.ai kartheek+1@factors.ai
/backend/src/factors/integration/hubspot/ maisa@factors.ai viknesh@factors.ai
/backend/src/factors/integration/salesforce/ maisa@factors.ai viknesh@factors.ai
/backend/src/factors/integration/segment/ dinesh@factors.ai maisa@factors.ai
/backend/src/factors/integration/six_signal/ roshan@factors.ai kartheek+1@factors.ai
/backend/src/factors/leadsquared/ janani@factors.ai maisa@factors.ai
/backend/src/factors/merge/ anshul@factors.ai vinith@factors.ai aravind@factors.ai
/backend/src/factors/metrics/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/middleware/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/migrations/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/model/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/pattern/ anshul@factors.ai janani@factors.ai vinith@factors.ai
/backend/src/factors/pattern_client/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/pattern_server/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/pattern_server_wrapper/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/predict/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/pull/ anshul@factors.ai janani@factors.ai
/backend/src/factors/quickchart/ sumit@factors.ai janani@factors.ai
/backend/src/factors/scripts/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/sdk/ dinesh@factors.ai maisa@factors.ai
/backend/src/factors/services/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/session/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/slack_bot/ sumit@factors.ai janani@factors.ai
/backend/src/factors/task/ janani@factors.ai maisa@factors.ai vinith@factors.ai
/backend/src/factors/tests
/backend/src/factors/util/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/vendor/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/vendor_custom/ dinesh@factors.ai maisa@factors.ai
/backend/src/factors/workers/ dinesh@factors.ai janani@factors.ai

/devicedetector_data/ ashhar@factors.ai dinesh@factors.ai
/email-templates/ baliga@factors.ai

/frontend-new/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai vikas@factors.ai
/frontend-new/src/Views/AppLayout/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/CoreQuery/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/CoreQueryHome/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/Dashboard/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/Views/DashboardTemplates/ akhil@factors.ai
/frontend-new/src/Views/Factors/ baliga@factors.ai
/frontend-new/src/Views/Pages/ baliga@factors.ai
/frontend-new/src/Views/PathAnalysis/ baliga@factors.ai
/frontend-new/src/Views/Settings/ baliga@factors.ai
/frontend-new/src/Views/componentsLib/ baliga@factors.ai
/frontend-new/src/components/AdBlockerDetector/ baliga@factors.ai
/frontend-new/src/components/AppModal/ baliga@factors.ai
/frontend-new/src/components/AttrQueryComposer/ akhil@factors.ai
/frontend-new/src/components/AxisOptionsContainer/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/BarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/CampQueryComposer/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ChartTypeDropdown/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ColumnChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ComparisonDatePicker/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ConfirmationModal/ baliga@factors.ai
/frontend-new/src/components/ContentTabs/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ControlledComponent/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/DataTable/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/DataTableFilters/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/DeleteQueryModal/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/FaDatepicker/ baliga@factors.ai
/frontend-new/src/components/FaFilterSelect/ akhil@factors.ai
/frontend-new/src/components/FaHeader/ vikas@factors.ai
/frontend-new/src/components/FaPublicHeader/ deepak@factors.ai
/frontend-new/src/components/FaSelect/ akhil@factors.ai
/frontend-new/src/components/FaTimeline/ vikas@factors.ai
/frontend-new/src/components/GranularityOptions/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/GroupedBarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HCBarLineChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HCLineChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HorizontalBarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HorizontalWindow/ baliga@factors.ai
/frontend-new/src/components/Icons/ baliga@factors.ai
/frontend-new/src/components/KPIComposer/ baliga@factors.ai
/frontend-new/src/components/MetricChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/MomentTz/ baliga@factors.ai
/frontend-new/src/components/NavigationBar/ vikas@factors.ai
/frontend-new/src/components/NoDataChart/ baliga@factors.ai
/frontend-new/src/components/NonClickableTableHeader/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/PivotTable/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/PivotTableControls/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/PrivateRoute/ akhil@factors.ai
/frontend-new/src/components/Profile/ vikas@factors.ai
/frontend-new/src/components/ProfileComposer/ vikas@factors.ai
/frontend-new/src/components/ProjectModal/ vikas@factors.ai
/frontend-new/src/components/QueryCommons/ComposerBlock/ akhil@factors.ai
/frontend-new/src/components/QueryComposer/ akhil@factors.ai
/frontend-new/src/components/SaveQuery/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ScatterPlotChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/SearchBar/ akhil@factors.ai jitesh@factors.ai
/frontend-new/src/components/SearchCheckList/ vikas@factors.ai
/frontend-new/src/components/ShareToEmailModal/ baliga@factors.ai
/frontend-new/src/components/ShareToSlackModal/ baliga@factors.ai
/frontend-new/src/components/Sidebar/ baliga@factors.ai
/frontend-new/src/components/SparkChartWithCount/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/SparkLineChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/StackedAreaChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/StackedBarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/SuspenseLoaders/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/factorsComponents/ baliga@factors.ai

/integrations/ kartheek+1@factors.ai ashhar@factors.ai

/python_backend/ kartheek+1@factors.ai ashhar@factors.ai

/sdk/javascript/ dinesh@factors.ai akhil@factors.ai

