.button {
  padding: 8px;
  padding-left: 0px;
  height: 48px;
  background-color: unset !important;
  margin: 0;

  &:hover,
  &:focus {
    background: #f0f0f0;
  }
}

.popover_content {
  &__header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 16px;
    font-weight: 700;
    background: #f0f0f0;
    height: 40px;
    border-radius: 12px 12px 0 0;
  }

  &__settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0 12px;
    height: 64px;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #f0f0f0;
    }
  }

  &__projectList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 8px 0 16px;
  }

  &__additionalActions {
    display: flex;
    flex-direction: column;
    span {
      padding: 8px 16px;
    }
    a {
      padding: 8px 16px;

      &:hover,
      &:focus {
        background: #f0f0f0;
      }
    }
  }

  &__signout {
    width: 100%;
    border-radius: 0 0 12px 12px;
    text-align: left;
    height: 38px;
  }
}
.projects_list_container {
  transition: height 500ms;

  &part2 {
    height: 500px;
  }
  & .active_project_div {
    display: flex;
    justify-content: space-between;
    transition-duration: 200ms;
    cursor: pointer;

    &:hover {
      background-color: #f7f7f7;
    }
    & > div:first-child {
      padding: 16px;
      text-transform: capitalize;
    }
    & > div:nth-child(2) {
      padding: 16px;
    }
  }
  & .active_project_div_active {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #e7e9ed;

    & > div:first-child {
      border-right: 1px solid #e7e9ed;
      transition-duration: 200ms;
      padding: 16px;
      cursor: pointer;
      &:hover {
        background-color: #f7f7f7;
      }
    }
    & > div:nth-child(2) {
      padding: 16px;
      text-transform: capitalize;
    }
  }

  & .project_list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.project_item {
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  padding: 6px 16px;
  margin: 2px 0;
  transition: all 0.3s;
  &:hover,
  &:focus-visible {
    background-color: #f7f7f7;
    outline: none;
  }
  &.active {
    color: #1890ff;
  }
}
