.dropdown {
  &__select {
    position: absolute;

    display: flex;
    flex-direction: column;

    &_placement_bottom {
      top: 32px;
    }

    &_placement_top {
      bottom: 32px;
    }

    &_right_0 {
      right: 0;
      width: 300px;
    }

    &_left_0 {
      left: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      max-height: 250px;
      overflow-y: auto;
    }
  }

  &__hd_overlay {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 50;
  }

  &__del_opt {
    border-top: 1px solid #f0f0f0;
  }

  &__apply_opt {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
  }

  &__empty_opt {
    height: 54px;
  }

  &__clear_opt {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    padding-top: 4px;
    margin-bottom: 4px;
    z-index: 1;
    Button {
      background-color: #ffffff !important;
      border-color: #ffffff !important;
    }
  }
  &__disabled_opt {
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none !important;
    opacity: 0.7;
  }
}

.fa_selected {
  background: #f8f8fc;
  cursor: auto;
}

.optText {
  // text-transform: capitalize;
  width: 90%;
}
