.coreQueryTabs {
    :global(.ant-tabs-nav-list) {
        width: 100%;
    }
    :global(.ant-tabs-tab) {
        width: 25%;
        justify-content: center;
        font-size: 1rem;
        border-right: 1px solid #f0f0f0;
        margin-right: 0;
        color: #3E516C;
    }
    :global(.ant-tabs-tab path) {
        fill: #3E516C;
    }
    :global(.ant-tabs-tab:hover) {
        color: #34A7BA;
    }
    :global(.ant-tabs-tab:hover path) {
        fill: #34A7BA;
    }
    :global(.ant-tabs-tab.ant-tabs-tab-active) {
        background-color: #F7FBFC;
    }
    :global(.ant-tabs-tab.ant-tabs-tab-active path) {
        fill: #34A7BA;
    }
    :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
        color: #34A7BA;
        font-weight: bold;
    }
    :global(.ant-tabs-nav-wrap) {
        border-top: 1px solid #f0f0f0;
    }
    :global(.ant-tabs-ink-bar) {
        background: #34A7BA;
    }
}

.coreQueryResultsChart {
    :global(.c3-ygrid) {
        stroke-dasharray: 0 !important;
      }
      
      :global(.c3-grid line){
        stroke: #E7E9ED !important;
      }
      
      :global(.c3-axis.c3-axis-y .tick line),
      :global(.c3-axis.c3-axis-x .tick line),
      :global(.c3-axis.c3-axis-y .domain),
      :global(.c3-axis.c3-axis-x .domain ){
        display: none;
      }
      
      :global(.c3-legend-item-tile) {
        shape-rendering: auto;
        stroke-linecap: round;
        stroke-dasharray: 0.1 10;
        stroke-width: 12;
        transform: translate(6px, 1px);
        fill: #0E2647;
      }
      
      :global(.c3-axis .tick text) {
        font-size: 10px;
        line-height: 1rem;
        fill: #8692A3;
        ;
      }
}