.dropdown {
  &__select {
    position: absolute;

    display: flex;
    flex-direction: column;

    &_placement_bottom {
      top: 32px;
    }

    &_placement_top {
      bottom: 32px;
    }

    &_right_0 {
      right: 0;
    }

    &_left_0 {
      left: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      max-height: 250px;
      overflow-y: auto;
    }
  }

  &__hd_overlay {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 50;
  }

  &__del_opt {
    border-top: 1px solid #f0f0f0;
  }

  &__apply_opt {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
  }

  &__empty_opt {
    height: 54px;
  }
}

.fa_selected {
  background: #f8f8fc;
  cursor: auto;
}

.optText {
  // text-transform: capitalize;
  width: 90%;
}