.customRadioGroup {
  :global(.ant-radio-button-wrapper:first-child) {
    border-radius: 5px 0px 0px 5px;
  }
  :global(.ant-radio-button-wrapper:last-child) {
    border-radius: 0px 5px 5px 0px;
  }
}

.customSelect {
  :global(.ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector) {
    border-radius: 6px;
  }
}

.errorMessage {
  margin-top: 28px;
  padding: 9px 16px;
  width: 100%;
  background: #fff1f0;
  border: 1px solid #ffccc7;
  border-radius: 2px;
}
