@import '../../../../styles/abstracts/variables';

.min-h-48 {
  min-height: 12rem;
}

.max-w-100 {
  max-width: 100%;
}

.input {
  color: $fa-color-character-primary;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}

.kpi-dropdown {
  width: 380px;
  height: 400px;
  position: absolute;
}

.kpi-dropdown-container {
  position: relative;
  top: 0.5rem;
  left: 0;
}

.edit-button {
  visibility: hidden;
  border-radius: 50%;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #8c8c8c;

  &:hover {
    background-color: #f5f5f5;
    color: #000;
  }
}

.metric-container {
  &:hover {
    .edit-button {
      visibility: visible;
    }
  }
}

.top-3 {
  top: 0.75rem;
}

.border-t {
  border-top-width: 1px;
  border-color: $fa-color-neutral-grey-4;
}

.linkButton {
  color: $fa-color--brand-color-6;
  font-weight: 500;
  &:hover {
    background-color: unset !important;
    color: $fa-color--brand-color-6;
  }
}

.metricDescriptionText {
  width: 260px;
}

.input-skeleton {
  &:global(.ant-skeleton-element) {
    line-height: 0;
  }
  &:global(.ant-skeleton-element .ant-skeleton-input) {
    width: 112px;
    height: 12px;
  }
}

.button-skeleton {
  &:global(.ant-skeleton-element) {
    line-height: 0;
  }
  &:global(.ant-skeleton-element .ant-skeleton-button) {
    width: 81px;
    height: 24px;
  }
}

.overview-input-skeleton {
  &:global(.ant-skeleton-element) {
    line-height: 0;
  }
  &:global(.ant-skeleton-element .ant-skeleton-input) {
    width: 270px;
    height: 18px;
  }
}

.overview-button-skeleton {
  &:global(.ant-skeleton-element) {
    line-height: 0;
  }
  &:global(.ant-skeleton-element .ant-skeleton-input) {
    width: 81px;
    height: 26px;
  }
}
