.dropdownBtn {
  border: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  background: transparent;
}

.dropdownMenu {
  width: 350px;
  box-shadow: 0px 0px 20px 0px #00000033;

  &.smallMenu {
    width: 250px;
  }

  .item {
    width: 90px;
  }
}

.selectedItem {
  border-radius: 4px;
  background-color: #eeedf8;
  h1 {
    color: #5949bc !important;
  }
}

.chartName {
  font-size: 12px;
  line-height: 18px;
}