$fontFamily: 'Work Sans',sans-serif;

.dropdownBtn {
    border: none;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}

.dropdownMenu {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    border-radius: 12px;
    width: 250px;
}

.dropdownMenuItem {
    font-family: $fontFamily;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #3e516c;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:hover {
        background-color: #fff !important;
    }
}

.dropdownMenuItem.active {
    background-color: #F5F6F8;
    color: #3E516C;

    &:hover {
        background-color: #F5F6F8 !important;
        color: #3E516C;
    }
}