@import '../../styles/abstracts/_variables.scss';

.fa-header {
  background-color: $fa-color-neutral-grey-11;
  z-index: 1000;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  height: 3.5rem;
}

.dropdown-menu {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  width: 250px;
  padding: 0.25rem 0;
}

.dropdown-menu-item {
  padding: 0.75rem 1rem;
  a {
    display: flex !important;
  }
}

.active-header-item {
  background-color: $fa-color--black;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  border-radius: 0.25rem;

  &.active-header-item-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
