.faheader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  background-color: white;
  border-bottom: 1px solid #e7e9ed;
  z-index: 1000;
}
.header_hamburgerbtn{
  margin-right: 16px;
}

.logo {
  padding: 0;
  margin: 0;
  &:hover,
  &:focus {
    background: #fff !important;
  }
}
