.groupedChart {
  :global(.x-axis path),
  :global(.y-axis-grid path),
  :global(.y-axis path),
  :global(.y-axis .tick line),
  :global(.x-axis .tick line) {
    display: none;
  }
  :global(.x-axis .tick text) {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #3e516c;
  }

  :global(.y-axis .tick text) {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #3e516c;
  }

  :global(.infoDiv) {
    border: 1px solid rgba(62, 81, 108, 0.3);
    border-radius: 4px;
  }
  :global(.infoDiv .count) {
    font-size: 12px;
    line-height: 16px;
  }
  :global(.infoDiv .percent) {
    font-size: 12px;
    line-height: 18px;
  }
}

.groupedFunnelTooltip {
  position: absolute;
  display: none;
  width: 200px;
  background: #ffffff;
  border: 1px solid #e7e9ed;
  box-sizing: border-box;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 0.75rem 1rem;
  z-index: 999;

  :global(.groupInfo) {
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #e7e9ed;
  }
}
