.query_block { 

    &__additional_actions {
        visibility: hidden;
    }

    &__event {
        position: relative;
        padding-top: 12px;
        &:hover {
            .query_block__additional_actions {
                visibility: visible;
            }
        }
    }

    &__filters { 
        &__label {
            margin-left: 56px;
        }
    }

    &__filter_query {
        margin-left: 24px;
        background: #F5F6F8;
        border-radius: 8px;
        padding: 15px;
        color: #5949BC;
        font-weight: 500;
        font-size: 14px;
        display: inline-flex;
    }
 
    &__placeholder {
        font-size: 16px;
        color: #3E516C;

    }

    &__event_selector { 
        position: absolute;
        top: 48px;
        left: 0;

        &__btn {
            position: relative;
        }

        .ant-select-selector {
            border-radius: 12px;
        }
    }

    &__selector_group {

        display: flex;

        svg {
            align-self: center;
        }

        span {
            background: #FFFFFF;
            margin-left: 8px;
            font-weight: 600;
            font-size: 12px;
            color: #0E2647;
            text-transform: uppercase;
        }

        
    }


}
