$boxShadowPrimaryColor: #B7BEC8;
$boxShadowSecondaryColor: #E7E9ED;

.funnelResultsTable {

    th.conversionColumn {
        box-shadow: inset 0px -1px 0px $boxShadowPrimaryColor, inset -1px 0px 0px $boxShadowPrimaryColor;
    }

    th.lastColumn {
        box-shadow: inset 0px -1px 0px $boxShadowPrimaryColor;
    }

    .conversionColumn {
        box-shadow: inset 0px -1px 0px $boxShadowSecondaryColor, inset -1px 0px 0px $boxShadowPrimaryColor;
    }

    .lastColumn {
        box-shadow: inset 0px -1px 0px $boxShadowSecondaryColor;
    }
    
    :global(.ant-table-tbody > tr.ant-table-row-selected:hover)>.conversionColumn,
    :global(.ant-table-tbody > tr.ant-table-row-selected:hover)>.groupColumn,
    :global(.ant-table-tbody > tr.ant-table-row-selected:hover > .ant-table-selection-column),
    :global(tr.ant-table-row-selected)>.conversionColumn,
    :global(tr.ant-table-row-selected)>.groupColumn,
    :global(tr.ant-table-row-selected > .ant-table-selection-column) {
        background-color: #F5F6F8;
    }
}