.composer {

    &__section {
        border-bottom: 1px solid #F0F0F0;

        &__title {
            display: flex;
            justify-content: space-between;
        }

        &__content {
            display: flex;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

}

.block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filterDelBtn {
    left: auto;
    right: 0;
}

.gbpRemove {
    position: absolute;
    @extend .filterDelBtn;
}

.groupItem {
    position: relative;
}

.filterSelect {
    left: 0;
    
}