$factorsDarkColor: #0E2647;

.table {
    :global(th.ant-table-cell) {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: $factorsDarkColor;
        border-top: 1px solid $factorsDarkColor;
        border-bottom: 1px solid $factorsDarkColor;
        height: 40px;
    }

    :global(td.ant-table-cell) {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $factorsDarkColor;
    }

    :global(.ant-table-thead > tr > th) {
        background-color: white;
    }

    :global(.ant-checkbox-inner) {
        border-radius: 4px;
    }

    :global(.ant-checkbox-checked .ant-checkbox-inner) {
        background-color: $factorsDarkColor;
        border-color: $factorsDarkColor;
    }

    :global(.ant-checkbox-indeterminate .ant-checkbox-inner::after) {
        background-color: $factorsDarkColor;
    }

    :global(.ant-checkbox-input:focus + .ant-checkbox-inner) {
        border-color: $factorsDarkColor;
    }

    :global(tr.ant-table-row-selected > td),
    :global(.ant-table-tbody > tr.ant-table-row:hover > td) {
        background: unset;
    }

    :global(.ant-table-tbody > tr.ant-table-row-selected:hover)>.conversionColumn,
    :global(.ant-table-tbody > tr.ant-table-row-selected:hover)>.groupColumn,
    :global(.ant-table-tbody > tr.ant-table-row-selected:hover > .ant-table-selection-column),
    :global(tr.ant-table-row-selected)>.conversionColumn,
    :global(tr.ant-table-row-selected)>.groupColumn,
    :global(tr.ant-table-row-selected > .ant-table-selection-column) {
        background: #F5F6F8;
    }
}

.conversionColumn {
    border-right: 1px solid $factorsDarkColor !important;
}