@import '../../../styles/abstracts/variables';

.tabContent {
    max-height: 400px;
}

.queryRow {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: #F5F6F8;
    }
}

.queryRow.selected {
    background-color: #F5F6F8;
}

.queryTitle {
    font-weight: 500 !important;
}

.searchBar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.searchInput {
    border: none;
    box-shadow: none;
    padding-left: 4px;
    :global(.ant-input-prefix) {
        margin-right: 8px;
    }

    input {
        font-size: 14px;
        font-family: $font-family;
        color: #0E2647;
        font-weight: 400;
    }
}