@import '../../../../styles/abstracts/variables';

.priceUpgradeModal {
  :global(.ant-modal-body) {
    padding: 48px;
  }
  :global(.ant-modal-footer) {
    padding: 0px;
    display: none;
  }
  :global(.ant-modal-content) {
    border-radius: 8px;
  }
}

.planDetailContainer {
  padding: 20px 32px;
  border-radius: 16px;
  border: 1px solid $fa-color-neutral-grey-5;
  margin-top: 16px;
  position: relative;
}

.outlineButton {
  border: 1px solid #d9d9d9 !important;
  background: #fff;
  width: 100%;
}

.amountText {
  line-height: 36px;
  margin: 0px;
}

.InputNumber {
  border: none !important;
  border-radius: 0px !important;
  :global(.ant-input-number-group) {
    display: flex;
  }

  :global(.ant-input-number-input-wrap) {
    border-top: 1px solid $fa-color-neutral-grey-5 !important;
    border-bottom: 1px solid $fa-color-neutral-grey-5 !important;
    border-radius: 0px !important;
  }
}

.addonCancelButton {
  position: absolute;
  top: 0px;
  right: 0px;
}

.inputButton {
  border: 1px solid $fa-color-neutral-grey-5 !important;
  background: $fa-color-neutral-grey-2 !important;
  padding: 4px 8px;
}

.inputNumberButtonLeft {
  @extend .inputButton;
  border-radius: 6px 0px 0px 6px;
}

.inputNumberButtonRight {
  @extend .inputButton;
  border-radius: 0px 6px 6px 0px;
}

.customButton {
  background-color: #fff;
  border-color: #b7bec8;
}

.tab_container{
  & > div{
    overflow: unset !important; // This is added to make bookacall sticky
  }
  & .upgrade_bookacall{
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }
}