.headerContainer {
  justify-content: space-between;

  .headerTitle {
    display: grid;
    place-content: center;
  }
  .chip {
    padding: 2px 10px;
    margin: 0 10px;
    background-color: #8c8c8c;
    color: #fff;
    border-radius: 50px;
    user-select: none;
  }

  .additionalMenu {
    padding: 0 10px;
    display: flex;
    & > * {
      margin: 0 6px;
    }
    button {
      padding: 20px !important;
      display: flex !important;
      align-items: center !important;
    }
    .btn {
      border-color: #dedede;
      &:hover {
        border-color: #8c8c8c;
      }
    }

    .closebtnc {
      border-left: 1px solid #dedede;
      & > * {
        margin: 0 10px;
      }
    }
  }
}
