.scatterPlotChart {
  :global(.highcharts-tick) {
    display: none;
  }

  :global(.highcharts-axis-line) {
    display: none;
  }
}

.leftRedBar {
  border-left: 6px solid #d4787d;
}

.leftDashedRedBar {
  border-left: 6px dashed #d4787d;
}

.leftBlueBar {
  border-left: 6px solid #82aee0;
}

.categoryBottomBorder {
  padding-bottom: 12px;
  border-bottom: 1px solid #e7e9ed;
}
