.header {
    height: 40px;
    width: 100%;
    padding: 12px;
    background-color: #F5F6F8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.timeline {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #E7E9ED;

    &_timestamp {
        margin: 0;
        width: 172px;
        padding: 16px;

        &_text {
            width: 100px;
        }
    }

    &_events {
        padding: 16px 100px 0;
        border-left: 2px solid #E7E9ED;
        align-items: center;
        min-height: 76px;

        &_event {
            position: relative;
            padding-bottom: 24px;

            &_tail {
                position: absolute;
                left: 16px;
                height: 52px;
                border-left: 2px solid #BAE7FF;
            }
        }
    }
}

.tag {
    display: flex;
    width: fit-content;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    padding: 3px 15px;
    background: #F5F6F8;
    border-radius: 4px;
}

.num {
    @extend .tag;
    padding: 3px 10px;
    margin: 0 4px;
    color: #1890FF;
    cursor: pointer;
}