.header {
    height: 40px;
    width: 100%;
    padding: 12px;
    background-color: #F5F6F8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.timeline {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E7E9ED;

    &_timestamp {
        display: flex;
        align-items: center;
        margin: 0;
        width: 200px;
        padding: 12px;
        min-height: 52px;
        border-right: 2px solid #E7E9ED;
    }

    &_event {
        position: relative;
        padding: 12px 0;
        margin-left: 100px;

        &_tail {
            position: absolute;
            left: 16px;
            height: 52px;
            border-left: 2px solid #BAE7FF;
        }
    }
}

.tag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px 15px;
    gap: 10px;
    background: #F5F6F8;
    border-radius: 4px;
}