.sider {
  position: relative;
  background: #f0f2f5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 999;
  overflow: scroll;
}

.menu {
  height: 100%;
  position: fixed;
  padding-top: 80px;
  overflow: scroll;
  max-width: 264px;

  //hiding scrollbar
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &_assist {
    position: fixed !important;
    margin: 0 !important;
    bottom: 60px !important;
    background-color: #f0f2f5 !important;
    max-width: 264px !important;
  }

  &_collapse {
    position: fixed !important;
    margin: 0 !important;
    bottom: 0 !important;
    background-color: #f0f2f5 !important;
    max-width: 264px !important;
    height: 60px !important;
  }
}

.button {
  margin: 0;
  padding: 0;
  background: #f0f2f5 !important;
  height: 60px;

  &:hover,
  &:focus {
    background: #f0f2f5 !important;
  }
}