.searchBarBox {
  border: 1px solid #b7bec8 !important;
  border-radius: 38px;
  width: 300px;
  height: 40px;
  box-shadow: none;

  :global(.ant-input-prefix) {
    width: 30%;
    justify-content: flex-end;
  }
}

.inputBox {
  border: none !important;
  border-bottom: 1px solid #f0f0f0 !important;
  border-radius: 0;
  width: 100%;
  height: 40px;
  box-shadow: none;
  padding: 16px !important;
  height: unset;
  // padding-right: 0 !important;
}

.focused {
  :global(.ant-input) {
    color: #08172b;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
}

.modal {
  top: -8px !important;
  position: absolute;
  width: 520px !important;
  left: calc(50% - 260px);
  padding: 0 !important;

  :global(.ant-modal-content) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  :global(.ant-modal-body) {
    padding: 0px;
  }
}

.searchHeadings {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #0e2647;
}

.queryItem {
  .queryType {
    display: none;
  }

  &:hover {
    background: #f8f8fc;

    .queryType {
      display: flex;
    }

    .hoverTextColor {
      color: #473a96;
    }
  }
}

.boxStyles {
  color: #3e516c;
  background: #f8f8fc;
}

.explanatoryText {
  text-align: center;
  margin-top: 0.5rem;
  color: #8692a3;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
