
.ant-btn {
    font-family: 'Work Sans', sans-serif; 
    // height: auto;
    border-radius: 8px;
    // padding: 8px 16px; 

    // border: 1px solid transparent; 
    border-color: #d9d9d9;

    background: $fa-color--white; 
    color: $fa-color--mono-5;
    
    &:disabled{
        opacity: 0.5;  
    }

    &.fa-button-ghost{
        background:transparent !important; 
        border-color:transparent !important;
        outline: transparent !important;
        box-shadow: none !important;
        padding: 2px 8px !important;

        &:hover, &:focus, &:active{
            background:transparent !important; 
            border-color:transparent !important;
            outline: transparent !important;
            box-shadow: none !important;  
        }

    }

    font-weight: $font-weight--bold;
    font-size: 14px;
    line-height: 1.5;
    
    svg{
        display: inline;
    }
    
    &.ant-btn-sm
    {  
        // padding: 3px 6px;
    }
    

}


.ant-btn{
    
    //Default Button 
    &:focus, &:hover, &:active{ 
        border-color: $fa-color--mono-5; 
        color: $fa-color--mono-5;  
    }
    
    //Primary Button
    &.ant-btn-primary {
        color: $fa-color--white;
        background: $fa-color--brand-color;
        border-color: $fa-color--brand-color; 
        &:focus, &:hover, &:active{
            color: $fa-color--white;
            background: $fa-color--brand-7;
            border-color: $fa-color--brand-7; 
        }
    }

    //Dashed Button
    &.ant-btn-dashed{
        border-style: dashed;
    }

    //Text Button
    &.ant-btn-text{
        border-color: transparent;
        background: $fa-color--white;
        &:focus, &:hover, &:active{ 
            background-color: $fa-color--mono-1; 
        }
    }

    //Link Button == Secondary Button
    &.ant-btn.ant-btn-link{
        border-style: solid;
        border-color: transparent;
        color: $fa-color--brand-6;
        background-color: $fa-color--mono-1;
        &:focus, &:hover, &:active{
            border-color: $fa-color--brand-6 !important; 
        }
    }


    //Icon Alignment correction
    .anticon{
        vertical-align: 0;
    }
    &.ant-btn-icon-only{
        height: auto;
        width: auto; 
    }

}

.ant-btn-lg {
    max-width: 300px;
    line-height: 10px;
    
    span {
        max-width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}