.ant-checkbox-wrapper
{ 
    &:hover,&:active,&:focus{
        .ant-checkbox-inner{
            border-color: $fa-color--brand-color !important;  
        } 

    }
    .ant-checkbox{
        &.ant-checkbox-checked
        {
            &::after{
                border-color: $fa-color--brand-color;   
            }
            .ant-checkbox-inner{
                border-color: $fa-color--brand-color;  
                background-color: $fa-color--brand-color;   
            }
        }
    }
} 