.ant-checkbox-wrapper
{ 
    &:hover,&:active,&:focus{
        .ant-checkbox-inner{
            border-color: $fa-color--mono-6 !important;  
        } 

    }
    .ant-checkbox{
        &.ant-checkbox-checked
        {
            &::after{
                border-color: $fa-color--mono-6;   
            }
            .ant-checkbox-inner{
                border-color: $fa-color--mono-6;  
                background-color: $fa-color--mono-6;  
                transform: scale(1.2);
            }
        }
    }
} 