.fa-settings--menu
{ 
    padding-right: 1.5em;
    border-color: $fa-color--mono-1;
    .ant-menu-item.ant-menu-item-only-child
    {
        font-weight: $font-weight--bold;
        font-size: 16px;
        color: $fa-color--mono-5;
        &:hover{
            color: $fa-color--mono-5; 
        }
        &::after{ 
            // border-color: $fa-color--brand-color;
            display: none;
        }
        &.ant-menu-item-selected{
            background-color: $fa-color--mono-1;
            border-radius: 8px;
            color: $fa-color--brand-color;
            
        }
    }
}