.ant-radio-wrapper
{
    // background-color: $fa-color--mono-3;
    .ant-radio{
        &:hover,&:active,&:focus{
            .ant-radio-inner{
                border-color: $fa-color--brand-color;  
            } 

        }
        &.ant-radio-checked
        {
            &::after{
                border-color: $fa-color--brand-color;   
            }
           .ant-radio-inner{
                border-color: $fa-color--brand-color; 
                &::after{
                    background-color: $fa-color--brand-color;  
                }
    
            }
        }
    }
} 