.fa-select{
    .ant-select-selector
    {
        border: thin solid $fa-color--mono-2 !important;
        border-radius: 6px !important;
        }

    &:hover,&:active,&:focus{
        .ant-select-selector
        { 
            border-color: $fa-color--brand-6 !important;
            box-shadow: 0 0 0 2px rgba($fa-color--brand-6, 0.2) !important;
        }
    }
    &.ant-input-disabled{
        &:focus, &:hover, &:active{ 
            border: thin solid $fa-color--mono-2 !important;
            box-shadow: none !important
        } 
    }
}

.fa-grp_noshadow {
    box-shadow: none !important;
}

.fa-grp_pos-btn {
    top: 34px !important;
    margin-left: 0;
}

.fa-select--group-select{

    animation-name: fa-fadeInDown; 
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;

        position: relative;
        width: 400px;
        max-height: 583px;
        padding: 15px 9px;
        background: #FFFFFF;
        box-shadow: 0px 6px 20px $fa-color--mono-2;
        border-radius: 5px;
        z-index: 75;
        // overflow-y: scroll;
        // overflow-x: hidden;

        .fa-select-group-select--options
        {
            padding: 10px 15px 10px 30px;
            color: $fa-color--mono-5;
            font-weight: $font-weight--regular;
            cursor: pointer;
            display: inline-flex;
            margin-bottom: 4px;

            &:hover{
                background-color: rgba($fa-color--brand-1, 1);
            }

            h4 {
                overflow: hidden;
                text-overflow: ellipsis;
                overflow-wrap: normal;
                height: 22px;
                min-width: 48px;
            }
        }

        .fa-select--options
        {
            padding: 10px 15px;
            color: $fa-color--mono-5;
            font-weight: $font-weight--regular;
            cursor: pointer;
            display: inline-flex;
            margin-bottom: 4px;
            
            &:hover{
                background-color: rgba($fa-color--brand-1, 1);
            }

            h4 {
                overflow: hidden;
                text-overflow: ellipsis;
                overflow-wrap: normal;
                height: 22px;
                min-width: 48px;
            }
        }

        .fa-select--buttons{
            padding: 0px;
            color: $fa-color--mono-5;
            font-weight: $font-weight--regular;
            cursor: pointer;
            display: inline-flex;
            margin-bottom: 4px;
            
            &:hover{
                background-color: rgba($fa-color--brand-1, 1);
            }

            h4 {
                overflow: hidden;
                text-overflow: ellipsis;
                overflow-wrap: normal;
                height: 22px;
                min-width: 48px;
            }
        }

        .fa-select-group-select--content
        {
            display: flex;
            flex-direction: column;
        }
        .fa-select-group-select--option-group
        {
            padding: 20px 8px 12px 8px;
            border-bottom: 1px solid $fa-color--mono-2;
            display: flex;
            justify-content: space-between;
            color: #5949BC;
            cursor: pointer;
            h4 {
                font-size: 14px;
                font-weight: 900;
                color:  $fa-color--mono-5;
                text-transform: capitalize;
            }
            div {
                display: flex;
            }
        }


    .ant-input-affix-wrapper{
        position: sticky;
        max-width: 374px;
        left: calc(50% - 374px/2);
        top: 0px;
        background: #f5f6f8;
        padding: 8px;
        border-radius: 10px;
        border: 1px solid #eee!important;
        box-shadow: none !important;
        input.ant-input{
            height: 30px !important;
            background-color: #f5f6f8;
        }
        &:focus, &:hover, &:active{ 
            border: 1px solid #d9d9d9 !important;
            border-radius: 8px;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3) !important;
            transition: all 0.3s;
        } 
    }
}

.fa-select--group-select-sm {
    @extend .fa-select--group-select;
    width: 300px;
}

.fa-select--group-select-mini {
    @extend .fa-select--group-select;
    width: 220px;
    padding: 12px 8px;
}

.fa-search-select{
    padding-bottom: 4px;
}