.ant-table--custom
{
    // table head
    // .ant-table-thead
    // { 
    //     .ant-table-cell
    //     {
    //         background-color: transparent;
    //         border-right: thin solid $fa-color--mono-2;
    //         border-bottom: thin solid $fa-color--mono-3;
    //         font-weight: $font-weight--bold;
    //         font-size: 12px;
    //         padding: 10px 16px;
    //         &:last-of-type{ 
    //                 border-right: thin solid transparent; 
    
    //         }
    //     } 
    // }
    // // table body
    // .ant-table-tbody
    // {
    //     .ant-table-cell
    //     { 
    //         border-bottom: thin solid $fa-color--mono-2;
    //         font-weight: $font-weight--regular;
    //         font-size: 16px;
    //     }

    // }
}

.fa-table--basic
{
    // table head
    .ant-table-thead
    { 
        .ant-table-cell
        { 
            font-weight: $font-weight--bold;
            font-size: 12px;
            padding: 11px 12px;
            color: $fa-color--mono-5;
        }
        .ant-table-column-sorters{
            padding: 0px 0px;
        }
    }
    // table body
    .ant-table-tbody
    {
        .ant-table-cell
        { 
            border-bottom: thin solid $fa-color--mono-2;
            font-weight: $font-weight--regular;
            font-size: 14px;
            padding: 10px 12px;
            color: $fa-color--mono-6;
        }

    }
}