.ant-tabs {
  &.ant-tabs-top {
    .ant-tabs-tab-btn {
      font-weight: $font-weight--regular;
      color: $fa-color--mono-5;
      font-size: 16px;
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: $fa-color--brand-color;
      }
    }

        .ant-tabs-ink-bar {
            background: $fa-color--brand-color;
        }
        .ant-tabs-tab
        {
            &.ant-tabs-tab-disabled{
                // background-color: $fa-color--mono-1;
                opacity: 0.3;   
            } 
        }
    
  }
}

.ant-tabs.fa-tabs--dashboard {


  
  &.ant-tabs-top {
    .ant-tabs-nav-wrap {
      padding: 0 3em;
      flex: none !important;
    }

    .ant-tabs-nav {
      margin: 0;
    }

    .ant-tabs-content-holder {
      background-color: $fa-color--mono-1;
      // height: unquote("-webkit-calc(100vh - 120px)");
      // height: unquote("calc(100vh - 110px)");
      // overflow-y: scroll;
    }

    .ant-tabs-tab {
      padding: 0.5rem;
      margin: 0;
      margin-right: 16px;
    }

    .ant-tabs-tab-active {
      span.ant-select-selection-item {
        color: $fa-color--mono-5;
      }
    }

    .ant-tabs-tab-btn {
      font-weight: $font-weight--bold;
      color: $fa-color--mono-4;
      font-size: 14px;
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: $fa-color--mono-5;
      }
    }

    .ant-tabs-ink-bar {
      background: $fa-color--brand-color;
      height: 4px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  &.fa-tabs--no-padding{ 
    .ant-tabs-nav-wrap {
      padding: 0;
      flex: none !important;
    } 
}

}
.ant-tabs.fa-tabs--dashboard.fa-tabs--white{
  .ant-tabs-content-holder {
    background-color: $fa-color--white;
  }

}