
.fai-text{

    font-family: 'Work Sans', sans-serif;
    color: $fa-color--mono-color;
    font-weight: 400;
    line-height: 1.6;

    //Color
    &.fai-text__color--red{
        color: $fa-color--red;
    } 
    &.fai-text__color--orange{
        color: $fa-color--orange;
    } 
    &.fai-text__color--green{
        color: $fa-color--green;
    }
    &.fai-text__color--grey{
        color: $fa-color--mono-4;
    }
    &.fai-text__color--white{
        color: $fa-color--white;
    }

    //Case
    &.fai-text__transform--uppercase{
        text-transform: uppercase;
    }
    &.fai-text__transform--lowercase{
        text-transform: lowercase;
    } 
 
    //Size
    &.fai-text__size--h1{
        font-size: 40px; 
    } 
    &.fai-text__size--h2{
        font-size: 32px
    } 
    &.fai-text__size--h3{
        font-size: 24px
    } 
    &.fai-text__size--h4{
        font-size: 20px
    } 
    &.fai-text__size--h5{
        font-size: 18px;
    } 
    &.fai-text__size--h6{
        font-size: 16px;
    } 
    &.fai-text__size--h7{
        font-size: 14px;
    } 

    // .fai-text__size--p{} 

    //Weight 
    &.fai-text__weight--thin{
        font-weight: $font-weight--thin; 
    }
    &.fai-text__weight--normal,&.fai-text__weight--regular{
        font-weight: $font-weight--regular;
    }
    &.fai-text__weight--bold{
        font-weight: $font-weight--bold;;
    }



    //Line Height
    &.fai-text__line-height--normal{}
    
    &.fai-text__line-height--small {} 
    
    &.fai-text__line-height--medium {}
    
    &.fai-text__line-height--large {}

    //Alignment
    &.fai-text__align--left{
        text-align: left;
    }
    &.fai-text__align--right{
        text-align: right;
    }
    &.fai-text__align--center{
        text-align: center;
    }


}
 

