.startFresh {
}

.modalTitleHeader {
  padding-top: 0px;
  & > h4 {
    margin: 0 0 0 0px;
  }
}
.categoryLists {
  margin: 0 20px 0 20px;
}
.categoryLeftItemTitle {
  margin: 2px 0px 2px 0;
  padding: 4px 10px 4px 10px;
  cursor: initial;
}
.templatesShowSection {
  max-height: calc(100vh - 200px);
  min-height: calc(100vh - 200px);
  padding: 4px;
  overflow-y: scroll;
}
.categoryLeftItem {
  border-radius: 4px;
  margin: 2px 0px 2px 0;
  padding: 4px 10px 4px 10px;
  display: flex;
  justify-content: space-between;
  transition-duration: 100ms;
  cursor: pointer;
  &:hover {
    color: #1890ff;
    background: #f5f6f8;

    &::after {
      content: '->';
    }
  }
}

.templateSection {
  // Main Section of Template ( Step 2 )
  display: flex;
  flex-wrap: nowrap;

  .templateSectionCopyButton {
    margin: 10px 0 10px 0;
  }
  .templateSectionCopyButtonCopied{
    background: #5ACA89 !important;
    border-color: #5ACA89 !important;
  }
  .templatesSectionAlert {
    background: #dea0691a;

    & .templatesSectionAlertBtn {
      background-color: transparent;
      border-color: transparent !important;
      padding: 0;
      &:hover {
        border-color: transparent !important;
      }
      & span::after {
        content: ' ->';
      }
    }
  }

  .templateSectionCol2 {
    & > div {
      padding: 10px 0 10px 0;
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .templateSectionImage {
    height: 270px;
    width: 100%;
    margin: 0 auto;
  }

  .includedReports > h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.modalContainerTop {
  padding: 20px 5px 20px 48px;
}
.modalContainerBody {
  padding: 0 48px 0 48px;
}

.categorySelected {
  background-color: #dedede;
}
