$fa-color--mono-2: #e7e9ed;
.fullModal {
  border: 1px solid black;
  width: 100% !important;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  padding: 0 !important;
}

.fullModal {
  :global(.ant-modal-content) {
    min-height: 100vh;
  }
}

.eventCharacter {
  border-radius: 10px;
  background: #3e516c;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.25rem;
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.eventName {
  font-weight: 500;
  color: #3e516c;
  font-size: 16px;
  line-height: 24px;
}

.dashboardDropdown {
  min-width: 150px;

  :global(.ant-select-selector) {
    border: none !important;
  }

  :global(span.ant-select-selection-item) {
    color: #8692a3;
    font-weight: 600;
    font-size: 14px;
  }

  &:hover {
    :global(.ant-select-selector) {
      box-shadow: none !important;
    }
  }
}

.expand_icon {
  visibility: hidden;
}

.widgetCard {
  border-bottom: thin solid $fa-color--mono-2; 
}

.dropdownbtn {
  font-weight: bolder !important;
  font-size: 20px !important;
  padding: 0;

  &:hover,
  &:focus {
    background: #fff !important;
  }
}

.event_selector {
  position: relative;
  &__btn {
    position: relative;
  }

  .ant-select-selector {
    border-radius: 12px;
  }
}
.additionalops {
  top: 44px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}