@import '../../styles/abstracts/variables';

.horizontalBarChart {
  .infoText {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
  }

  .xAxisLabels {
    font-size: 14px;
    width: 120px;
    font-family: $font-family;
    text-align: right;
  }

  :global(.highcharts-tick) {
    display: none;
  }
  :global(.highcharts-grid-line) {
    display: none;
  }
  :global(.highcharts-tooltip) {
    span {
      &:first-child {
        width: 175px;
        padding-left: 8px;
      }
    }
    span {
      &.number {
        padding-left: 0px !important;
        width: unset;
      }
      span {
        padding-left: 0px !important;
        width: unset;
      }
    }
  }

  &.comparisonApplied {
    @for $i from 0 through 9 {
      :global(.highcharts-series-1 .charts-color-class-#{$i}) {
        fill: url(#barChartStripes#{$i}) !important;
      }
    }
  }
}
