.fa-component-color--brand-1{ background-color: $fa-color--brand-1 }
.fa-component-color--brand-2{ background-color: $fa-color--brand-2 }
.fa-component-color--brand-3{ background-color: $fa-color--brand-3 }
.fa-component-color--brand-4{ background-color: $fa-color--brand-4 }
.fa-component-color--brand-5{ background-color: $fa-color--brand-5 }
.fa-component-color--brand-6{ background-color: $fa-color--brand-6 }
.fa-component-color--brand-7{ background-color: $fa-color--brand-7 }
.fa-component-color--brand-8{ background-color: $fa-color--brand-8 }
.fa-component-color--brand-9{ background-color: $fa-color--brand-9 }
.fa-component-color--brand-10{ background-color: $fa-color--brand-10 }

.fa-component-color--mono-1{ background-color: $fa-color--mono-1 }
.fa-component-color--mono-2{ background-color: $fa-color--mono-2 }
.fa-component-color--mono-3{ background-color: $fa-color--mono-3 }
.fa-component-color--mono-4{ background-color: $fa-color--mono-4 }
.fa-component-color--mono-5{ background-color: $fa-color--mono-5 }
.fa-component-color--mono-6{ background-color: $fa-color--mono-6 }
.fa-component-color--mono-7{ background-color: $fa-color--mono-7 }
.fa-component-color--mono-8{ background-color: $fa-color--mono-8 }
.fa-component-color--mono-9{ background-color: $fa-color--mono-9 }
.fa-component-color--mono-10{ background-color: $fa-color--mono-10 }

.fa-component-color--fn-red{ background-color: $fa-color--red }
.fa-component-color--fn-orange{ background-color: $fa-color--orange }
.fa-component-color--fn-green{ background-color: $fa-color--green }

.fa-component-color--box{
    height: 55px;
    width: 55px;
}


.fa-demo-grid--modal{
    top: 0; 
    left: 64px !important;
    height: 100%;
    width: calc(100vw - 64px) !important;
    padding-bottom: 0;
    margin: 0 !important;
    transform-origin: 0 !important;
    overflow: hidden !important;

    .ant-modal-content{
    background-color: transparent;
    height: 100%;
    }
    .ant-modal-body
    {
        padding: 0;
    }
}
.fa-demo-grid--col
{
    background-color: #002e6f12;
    // padding: 24px;
    // &.even{ 
    //     background-color: #2b01011f;
    // }
    .fa-demo-grid--col-content{
        width: 100%;
        background-color: #ea62622e;
        height: calc(100vh - 55px);
    }
}

.fa-icon--container{
    background: #FFFFFF; 
    border: 1px solid #F5F6F8;
    box-sizing: border-box;
    border-radius: 12px; 
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s;
    &:hover{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }
    p{
        font-size: 10px;
        font-weight: $font-weight--regular;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
        line-height: 1;
    }
}



.fa-tag--green{
    color: $fa-color--mono-5 !important;
    background: rgba($fa-color--green,0.1) !important;
    border-color: $fa-color--green !important    ;
}