$cq-card-transition: transform .2s ease-in-out;

.fai--custom-card{  
    height: 202px;
    width: 202px;  
    background: linear-gradient(42.84deg, #EEEDF8 15.47%, #C2E5EA 90.5%);
    border: thin solid transparent; 
    border-radius: 12px;
    padding: 2em 1em; 
    transition: $cq-card-transition; 
    cursor: pointer;

    &:hover{
        transition: $cq-card-transition; 
        background: $fa-color--white;
        border: thin solid  $fa-color--mono-2; 
        box-shadow: 0px 0px 8px $fa-color--mono-2; 

        .fai--custom-card--desc{
            transform: translateY(-50px); 
        }
        .fai--custom-card--title 
        {   
                transform: translateY(-50px); 
        } 
        // .fai--custom-card--icon{ 
        //     svg{
        //         height: 44px !important;
        //         width: 44px !important;
        //     }
        // }

        .fai--custom-card--cta
        {
            display: block;
        }

    }
    .fai--custom-card--icon{
        margin: 1.5em 0 1.2em;
        svg{
            transition: $cq-card-transition;  
        }
    }
    .fai--custom-card--desc,.fai--custom-card--title{
        letter-spacing: -0.02em;  
        background: linear-gradient(42deg, #7A6DC9 15.46%, #5DB9C8 75.92%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-align: center; 
    }
    .fai--custom-card--desc{ 
        text-transform: uppercase;
        font-size: 10px !important;
        line-height: 1.6; 
        transition: $cq-card-transition; 
    }
    .fai--custom-card--title
    {    
        transition: $cq-card-transition; 
    }
    .fai--custom-card--content{
        transition: $cq-card-transition; 
        height: 50px;
        overflow: hidden;
        display: block;
        // margin: 0 0 1.2em; 
    } 
   
}


.fa--query_block 
{
    display: flex;
    flex-direction: column;
    position: relative; 
    padding: 24px 42px;
    position: relative;

    
    .fa--query_block--actions{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 24px;
        display: none;
        transition: all 0.3s;
        .ant-btn.ant-btn.ant-btn-link{
            padding: 4px 6px; 
        }
    }
    &:hover{
        .fa--query_block--actions{
            display: block;
        }
    }

    .fa--query_block--filters
    {
        padding: 12px 0;
    }
    .fa--query_block--filters-values
    { 

    }
    .fa--query_block--add-event{
        height: 32px;
        width: 32px;
        border: 1px solid transparent; 
        border-radius: 100%;
        transition: all 0.3s;
        &.active{
            color: $fa-color--white;
            background-color: $fa-color--brand-color;  
            border: 1px solid $fa-color--brand-color;  
        }
        &.inactive{
            border: 1px solid transparent !important;  
        }

    }
    &:hover{
        .fa--query_block--add-event{ 
            border: 1px solid $fa-color--brand-color;  
        }
    }
    .ant-btn.ant-btn.ant-btn-link:focus, .ant-btn.ant-btn.ant-btn-link:hover, .ant-btn.ant-btn.ant-btn-link:active{
        border-color: transparent;
    }
    .ant-select
    { 
        .ant-select-selector
        {
            border-radius: 6px; 
            height: 40px;
        }
        .ant-select-dropdown
        {
            border-radius: 6px; 
        }
    }
    
}