$cq-card-transition: transform .2s ease-in-out;

.fai--custom-card{  
  
    background: linear-gradient(42.84deg, #EEEDF8 15.47%, #C2E5EA 90.5%);
    border: thin solid transparent; 
    border-radius: 12px;
    padding: 2em 1.5em; 
    transition: $cq-card-transition; 
    cursor: pointer; 

    height: 200px;
    width: 200px;  


    @media screen and (max-width: 1336px) {
        padding: 2em 0.8em; 
        height: 180px;
        width: 180px;
     
    } 
    
    .fai--custom-card--icon{
        margin: 1.5em 0 1.2em; 
    }

    .before-hover{
        display: block;
    }
    .after-hover{
        display: none;
       
    }
    .fai--custom-card--icon
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fai--custom-card--cta
    {
        background-color: #34A7BA;
        color: $fa-color--white;
        font-weight: $font-weight--bold;
        border-radius: 38px;
        padding: 6px 15px;
        font-size: 12px;
        line-height: 1;
        margin: 1em auto 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        svg{
            display: inline;
            margin-left: 0.2em
        }
    }

    &:hover{
        transition: $cq-card-transition; 
        background: $fa-color--white;
        border: thin solid  $fa-color--mono-2; 
        box-shadow: 0px 0px 8px $fa-color--mono-2; 

        .before-hover{
            display: none;
        }
        .after-hover{
            display: block;
        }
        .fai--custom-card--icon{
            margin: 0.2em 0 1em;
            svg{
                height: 35px !important;
                width: 35px !important;
            }
        }

        // .fai--custom-card--desc{
        //     transform: translateY(-50px); 
        // }
        // .fai--custom-card--title 
        // {   
        //         transform: translateY(-50px); 
        // } 
        // .fai--custom-card--icon{ 
        //     svg{
        //         height: 44px !important;
        //         width: 44px !important;
        //     }
        // }

       

    }
   
    .fai--custom-card--desc,.fai--custom-card--title{
        letter-spacing: -0.02em;  
        background: linear-gradient(42deg, #7A6DC9 15.46%, #5DB9C8 75.92%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-align: center; 
    }
    .fai--custom-card--desc{ 
        text-transform: uppercase;
        font-size: 10px !important;
        line-height: 1.6; 
        transition: $cq-card-transition; 
    }
    .fai--custom-card--title
    {    
        transition: $cq-card-transition; 
    }
    .fai--custom-card--content{
        transition: $cq-card-transition; 
        // height: 50px;
        // overflow: hidden;
        // display: block;
        // margin: 0 0 1.2em; 
    } 
   
}


.fa--query_block 
{
    display: flex;
    flex-direction: column;
    position: relative; 
    padding: 22px 42px;
    position: relative;

    border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

    &.bordered{
        // border-top: 1px solid $fa-color--mono-2;
        border-bottom: 1px solid $fa-color--mono-1;
    }

    
    .fa--query_block--actions{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 24px;
        display: none;
        transition: all 0.3s;
        .ant-btn.ant-btn.ant-btn-link{
            padding: 4px 6px; 
        }
    }
    &:hover{
        .fa--query_block--actions{
            display: block;
        }
    }

    .fa--query_block--filters
    {
        padding: 12px 0;
    }
    .fa--query_block--filters-values
    { 

    }
    .fa--query_block--add-event{
        height: 32px;
        width: 32px;
        border: 1px solid transparent; 
        border-radius: 100%;
        transition: all 0.3s;
        &.active{
            color: $fa-color--white;
            background-color: $fa-color--brand-color;  
            border: 1px solid $fa-color--brand-color;  
        }
        &.inactive{
            border: 1px solid transparent !important;  
        }

    }
    &:hover{
        .fa--query_block--add-event{ 
            border: 1px solid $fa-color--brand-color;  
        }
    }
    .fa--query_block--add-event-sm {
        @extend .fa--query_block--add-event;
        height: 16px;
        width: 16px;
        font-size: 10px;
    }
    .ant-btn.ant-btn.ant-btn-link:focus, .ant-btn.ant-btn.ant-btn-link:hover, .ant-btn.ant-btn.ant-btn-link:active{
        border-color: transparent;
    }
    .ant-select
    { 
        .ant-select-selector
        {
            border-radius: 6px; 
            height: 40px;
        }
        .ant-select-dropdown
        {
            border-radius: 6px; 
        } 
        &.no-ant-border
        { 
            .ant-select-selector
            { 
                height: auto !important;
                border: 0px solid transparent !important; 
                padding:0px !important;
            }
            color: $fa-color--brand-color;
            font-weight: $font-weight--regular;
        }
        &:hover,&:active,&:focus{
            .ant-select-selector
            { 
                border-color: transparent !important;
                border-right-width: 0px !important;
            }
        }
    }


    .ant-collapse
    {
        padding: 0;
        .ant-collapse-header
        {
            padding: 0; 
        }
        .ant-collapse-item{
            border-bottom-color: transparent;
        }
        &.ant-collapse-borderless
        {
            background-color: transparent;
        }
    }
    
}

.fa-filter-select {
    .ant-input-affix-wrapper {
        border: none;
        margin: 15px 0;
    }

    .ant-input-affix-wrapper-focused {
        outline: none;
        box-shadow: none;
    }

    
}
.fa-event-popover{
    background-color: pink;
}