.fa-dashboard--widget-card {
    background-color: $fa-color--white;
    border-radius: 8px;
    overflow: scroll;
    border: thin solid $fa-color--mono-2;
    transition: all 0.3s;

    .fa-widget-card--top-actions {
        transition: all 0.3s;
        opacity: 0;
    }

    &:hover {
        .fa-widget-card--top-actions {
            opacity: 1;
        }

        border: thin solid $fa-color--brand-color;
        box-shadow: 0px 0px 8px $fa-color--mono-2;
    }

    .fa-widget-card--legend {
        padding: 0.5em 2em;
        border-top: thin solid $fa-color--mono-1;
        border-bottom: thin solid $fa-color--mono-1;

        .ant-badge {
            margin-right: 12px;

            .ant-badge-status-dot {
                width: 12px;
                height: 12px;
            }

            .ant-badge-status-text {
                font-size: 12px;
                margin-left: 3px;
                color: $fa-color--mono-4;
            }
        }
    }

    .fa-widget-card--visuals {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.fa-dasboard-privacy--card {
    border: thin solid $fa-color--mono-1;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        border: thin solid $fa-color--brand-color;
        background-color: $fa-color--brand-1;
    }
}

.fa-dasboard-privacy--card.selected {
    border: thin solid $fa-color--brand-color;
    background-color: $fa-color--brand-1;
}

.fa-widget-card--resize-container {
    // margin: auto;
    position: relative;
    right: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // transition: all 0.3s;
    visibility: hidden;
    display: flex;
    align-items: center;

    .fa-widget-card--resize-contents {
        background-color: $fa-color--brand-color;
        border-radius: 8px;
        padding: 5px 2px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        // transition: all 0.3s;

        a {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: $fa-color--white;
            transition: all 0.3s;
            opacity: 0.6;
            padding: 5px 2px;

            &:hover,
            &:focus,
            &:active {
                opacity: 1;
            }
        }
    }
}

.widget-card-top-div {
    height: 386px;
    &:hover {
        .fa-widget-card--resize-container {
            visibility: visible;
        }
    }
}


.fa-global-search--input
{
    border: 1px solid $fa-color--mono-2;
    background-color: $fa-color--mono-1;
    border-radius: 8px;
    width: 400px;
    height: 36px;
    box-shadow: none;
    transition: all 0.2s;
    &:hover{
        width: 410px;
        border: 1px solid $fa-color--mono-3;
        cursor: pointer;
    }
    input{ 
        background-color: transparent;
        ::-webkit-input-placeholder {
            text-align: center !important;
         }
         
         :-moz-placeholder { /* Firefox 18- */
            text-align: center !important;  
         }
         
         ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center !important;  
         }
         
         :-ms-input-placeholder {  
            text-align: center !important; 
         }
    }

}
.fa-global-search--input-fw{
    width: 100%; 
    &:hover{
        width: 100% !important;
    }
}

.fa-global-search--modal
{ 
    .ant-modal-content{
        max-height: 600px;
        overflow: hidden; 
        border-radius: 8px !important;
        margin-top: 12px;
        // box-shadow: 2px 2px 8px $fa-color--mono-3 !important;
        
        .fa-global-search--contents{
            max-height: 500px;
            width: 100%;
            overflow: hidden;
            overflow-y: auto;
        }
    }
}

.fa-dashboard--no-data-container
{   margin: 0 auto;
    margin-top: 7em;
    max-width: 500px;
    text-align: center;
    img{
        width: 100%;
        max-width: 250px;
    }
}
.fa-no-data--img
{  
    img{
        width: 100%;
        max-width: 100px;
    }
}


.fa-title--editable{  
    padding: 2px 8px;
    transition: all 0.3s;
    border-radius: 4px;
    &:hover{
        background-color: $fa-color--mono-1; 
    } 
}
