
.fa-insights-box--spike
{
    position: absolute;
    top: 25px;
    right: 97.5%;
}

.fa-sub-insights-box--spike
{
    position: absolute;
    top: 25px;
    left: -20px;;
}
.fa-insights-box--highlight
{
    position: absolute;
    top: 0px;
    left: -7.9em;
    height: 100%;
}
.fa-insights--tab
{
    .ant-tabs-nav
    {
        margin: 0px
    }
}

.fa-insights-box--type
{
    position: absolute;
    top: 1rem;
    left:4rem;
    font-size: 12px !important; 
    transition: all 0.3s;
    opacity: 0;
    transform: translate3d(0, -10%, 0);
}

.fa-insights-box--actions
{
    position: absolute;
    top: 25px;
    right: -50px;
    transition: all 1s; 
    opacity: 0;
    transform: translate3d(0, -10%, 0);
}

.fa-insights-box--animate{
    transition: all 0.3s; 
    opacity: 0;
    transform: translate3d(0, -10%, 0);
}
.fa-insights-box--fixed-count{ 
    span{

        // display: none;
    }
}
.fa-insight-item--container
{
    &:hover{
        box-shadow: 0 10px 10px -10px $fa-color--mono-2;  
    }

}
.fa-insight-item--sub-container
{
    &:hover{
        box-shadow: 0 10px 10px -10px $fa-color--mono-2;  
    }
}

.fa-insight-item{
    animation-name: fa-fadeInDown; 
    animation-duration: 0.3s;

    &:hover{ 
        .fa-insights-box--fixed-count{ 
            width: 50px;
            span{
                display: none;
            }
        }
        .fa-insights-box--actions,.fa-insights-box--type,.fa-insights-box--animate
        {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}


.fa-insight-item--more
{
    div{
        width: 100%;
        background-color: white;
        height:2px; 
        margin-bottom:10px;
    }
    margin-bottom:10px;
}
.fa-custom-stroke-bg
{
    .ant-progress-inner
    {
        .ant-progress-bg
        {
            background-color: transparent !important;
            background-image: url('../assets/images/progress-bar-fill-pattern-1.png') !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;

        }
    }
}