.fa-insights-box--spike
{
    position: absolute;
    top: 25px;
    left: -50px;;
}
.fa-insights-box--highlight
{
    position: absolute;
    top: 0px;
    left: -120px;
    height: 100%;
}
.fa-insights--tab
{
    .ant-tabs-nav
    {
        margin: 0px
    }
}