.login-container{
    padding: 5em 2em; 
    height: 100vh;
    .desc-text,.ant-form-item {
        width: 50%;
    }
    .ant-form-item {
        margin:0
    }
    .fa-input-50,.fa-button-50{
        width: 50%;
    }
}
.fa-single-screen--illustration
{
    position: absolute;
    right: 1.5em;
    bottom: 1.5em;
}