.fa-code-block {
  background-color: $fa-color--mono-1;
  padding: 1em;
  border-radius: 8px;
  white-space: pre-line;
}
.fa-code-code-block {
  color: #0e2647;
  font-family: 'IBM Plex Mono' !important;
}

.fa-intergration-card {
  padding: 2em;
  border-radius: 12px;
  border: 1px solid $fa-color--mono-2;
  width: 100%;
  margin: 0 15px 15px 0;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 0px 20px $fa-color--mono-2;
  }
}

.fa-warning {
  padding: 9px 16px;
  margin: 16px 0px;
  width: 100%;
  font-size: smaller;
  background: #fffbe6;
  border: 1px solid #ffe58f;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}
