.fa-aside
{  
    height: 100%;
    width: 64px;
    background-color: #0E2647;
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 1001;

    a{
        opacity: 0.5;
        -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
        transition: all .3s cubic-bezier(.645,.045,.355,1); 
        &.active{
            opacity: 1;
        }
    }
}