.fa-aside
{  
    height: 100%;
    width: 64px;
    background-color: #f5f6f8;
    overflow: auto;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
    // z-index: 1001;

    //hiding scrollbar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    .ant-row
    {
        position: relative;
    }
    .fa-aside--divider
    {
        width: 40px;
        margin: 0 auto;
        height: 1px;
        background-color: $fa-color--mono-4;
        opacity: 0.5;
    }

    a{
        height: 40px;
        width: 40px;
        border-radius: 8px;
        opacity: 0.58;
        background-color: transparent;
        -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
        transition: all .3s cubic-bezier(.645,.045,.355,1); 
        display: flex;
        justify-content: center;
        align-items: center; 
        &.active{
            -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
            transition: all .3s cubic-bezier(.645,.045,.355,1); 
            opacity: 1;
            &:hover{
                background-color: transparent;
            }
            &:before{
                content: '';
                position: absolute;
                width: 3px;
                height: 24px;
                left: 0px;
                top: 16px;
                background-color: $fa-color--white;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
        &:hover{
            background-color: $fa-color--mono-3;
        }

        &.fa-brand-logo{
            &:hover{
                background-color: transparent;
            }
            &.active{
                &:before{
                    display: none;
                }
            }
        }
    }

    .fa-aside--avatar
    {
        background-color: $fa-color--mono-5;
        cursor: pointer;
    }
}

.fa-popupcard--wrapper
{
    position: fixed;
    top: 48px !important;

    .ant-popover-inner
    {
        width: 356px;
        max-height: 640px; 
        border: 1px solid #f7f5f8;
        border-radius: 12px;
    }
    .ant-popover-inner-content
    { 
        padding: 0;
    }
    .ant-popover-arrow
    {
        display: none;
    }

    .fa-popupcard
    {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        a {
            color: #0B1E39;
        }
        .fa-popupcard-divider{
            width: 100%;
            margin: 8px 0;
            border-bottom: thin solid $fa-color--mono-2;
        }
        .project-item{
            border: 2px solid transparent;
            cursor: pointer;
            border-radius: 8px;
            width: 100%;
            padding: 6px 16px;
            margin: 2px 0;
            transition: all 0.3s;
            &:hover{
                background-color: $fa-color--mono-1;
            }
            &.active
            {
                // border: 2px solid $fa-color--brand-color;
                // background-color: $fa-color--mono-1;
                color: #1890FF;
            }
            
        }
    }

    .fa-project-list--wrapper
    {
        max-height: 275px;
        overflow-x:hidden;
        overflow-y:auto;
    }
    input.fa-project-list--search{
        width: 332px;
        background-color: $fa-color--mono-1;
        font-size: 14px;
        color: $fa-color--mono-5;
        border-radius: 8px;
        height: 38px;
        display: block;
        margin:10px;
        padding:0 10px;
        &:active,&:hover,&:focus{
            outline: none;
            box-shadow: none;
        }
    }
}

.fa-popupcard--wrapper--info {
    width: 320px; 
}

.fa-tag--beta
{
    border-radius: 4px;
    font-weight: 600;
    margin: 8px 0 0; 
    font-size: 9px;
    line-height: 1.2;
    border-color: $fa-color--orange;
    color: $fa-color--orange;

}


.fa-activity--filter {
    position: absolute;
    padding-top: 0 !important;

    .ant-popover-inner {
        width: 264px;
        border: 1px solid #f7f5f8;
        border-radius: 12px;
    }

    .ant-popover-inner-content {
        padding: 0;
    }

    .ant-popover-arrow {
        display: none;
    }

    .fa-filter-popupcard {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        max-height: 432px;
        overflow-x: hidden;

        .fa-header {
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 1;
        }

        .fa-divider {
            width: 100%;
            margin: 8px 0;
            border-bottom: thin solid $fa-color--mono-2;
        }

    }
}

.fa-infocard--wrapper {
    @extend .fa-activity--filter;
    .ant-popover-inner {
        width: 470px;
        padding: 32px 40px;
        border: 1px solid #f7f5f8;
        border-radius: 8px;
    }
}

.table-scroll {
    position: relative;
    max-height: 684px;
    max-width: 1080px;
    overflow: scroll;

    table {
        border-collapse: separate;
        border-spacing: 0;
        table-layout: auto;
        width: 100%;

        th {
            min-width: 175px;
            max-width: 300px;
            padding: 9px 18px;
            border-bottom: 1px dashed #E7E9ED;
            vertical-align: top;
            background: #F5F6F8;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 9;

            &:first-child {
                left: 0;
                border-right: 2px solid #E7E9ED;
                z-index: 10;
            }
        }

        tbody {
            td {
                padding: 0px 18px;
                border-bottom: 1px dashed #E7E9ED;
                vertical-align: top;
                background-color: #fff;

                &:first-child {
                    left: 0;
                    border-right: 2px solid #E7E9ED;
                    position: -webkit-sticky;
                    position: sticky;
                    z-index: 8;
                    div {
                        width: 96px !important;
                    }
                }

                .timeline-events {
                    padding: 16px 20px 0;
                    align-items: center;

                    &--event {
                        position: relative;
                        padding-bottom: 24px;

                        &--tag {
                            width: fit-content;
                            max-width: 300px;
                            min-height: 32px;
                            display: flex;
                            align-items: center;
                            padding: 3px 15px;
                            background: #F5F6F8;
                            border-radius: 4px;
                        }

                        &--tail {
                            position: absolute;
                            left: 16px;
                            height: 80px;
                            border-left: 2px solid #BAE7FF;
                        }
                    }
                }
            }
        }
    }
}