.fa-activity--filter {
    position: absolute;
    padding-top: 0 !important;

    .ant-popover-inner {
        width: 320px;
        max-height: 500px;
        border: 1px solid #f7f5f8;
        border-radius: 12px;
    }

    .ant-popover-inner-content {
        padding: 24px;

        .ant-tabs {
            .ant-tabs-nav {
                margin: 0 0 4px 0;
            }

            .ant-tabs-content-holder {
                .ant-tabs-content {
                    .ant-tabs-tabpane {
                        .ant-input-affix-wrapper {
                            padding: 6px 12px;
                            height: 36px;
                            background: #F5F6F8;
                            border: 1px solid #E7E9ED;
                            border-radius: 6px;
                            box-shadow: none;
                            transition: all 0.2s;

                            &:hover {
                                border: 1px solid $fa-color--mono-3;
                                cursor: pointer;
                            }

                            .ant-input {
                                background-color: transparent;
                            }
                        }

                        .fa-custom--popover-content {
                            max-height: 392px;
                            overflow-y: scroll;
                        }
                    }

                }
            }
        }
    }

    .ant-popover-arrow {
        display: none;
    }
}

.fa-activity-filter--tabname {
    font-weight: 500;
    font-size: 14px;
}

.fa-infocard--wrapper {
    @extend .fa-activity--filter;

    .ant-popover-inner {
        width: 470px;
        padding: 32px 40px;
        border: 1px solid #f7f5f8;
        border-radius: 8px;
    }
}

.fa-timeline-modal--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 64px;
    background-color: $fa-color--white;
    z-index: 20;
    border-bottom: 1px solid rgb(231, 233, 237);
    box-shadow: 0px 0px 8px rgba($fa-color--mono-1, 1);
}

.fa-timeline {
    display: flex;
    align-items: flex-start;

    .leftpane {
        position: sticky;
        top: 0;
        width: 20%;
        background: #FFFFFF;
        padding: 96px 0 36px;
        z-index: 15;

        &__user {
            padding: 0 36px;

            &__avatar {
                color: #3E516C;
                background-color: #F1F1F1;
                display: flex;
                align-items: center;
            }
        }

        &__props {
            padding: 16px 0;
        }

        &__groups {
            padding: 8px 36px;
            border-top: 1px dashed #E7E9ED;
        }
    }

    .timeline-view {
        width: 80%;
        padding: 96px 36px;
        border-left: 1px solid #E7E9ED;
        min-height: 100vh !important;
    }
}

.leftpane-prop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding: 8px;
    padding-left: 36px;

    .del-button {
        visibility: hidden;
    }

    &:hover {
        background-color: #F5F6F8;

        .del-button {
            visibility: visible;
            background-color: #F5F6F8;
        }
    }
}

.timeline-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__group {
        display: flex;
        align-items: center;
        padding: 16px 0;

        &__collapse {
            display: flex;
            align-items: center;

            .collapse-btn {
                display: flex;
                align-items: center;
                padding: 4px 8px;
                height: 32px;
                background: #FFFFFF;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
                border-radius: 5px;

                &--right {
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                }

                &--left {
                    border-top-right-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                }
            }
        }
    }
}

.table-scroll {
    position: relative;
    max-height: 720px;
    overflow: scroll;

    table {
        border-collapse: separate;
        border-spacing: 0;
        table-layout: auto;
        width: 100%;

        th {
            min-width: 175px;
            max-width: 300px;
            padding: 9px 18px;
            border-bottom: 1px dashed #E7E9ED;
            vertical-align: top;
            background: #F5F6F8;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 9;

            &:first-child {
                left: 0;
                border-right: 2px solid #E7E9ED;
                z-index: 10;
            }
        }

        tbody {
            td {
                padding: 0px 18px;
                border-bottom: 1px dashed #E7E9ED;
                vertical-align: top;
                background-color: #fff;
                background: linear-gradient(90deg, rgba(255, 255, 255, 1) 56px, rgba(186, 231, 255, 1) 56px, rgba(255, 255, 255, 1) 60px);

                &:first-child {
                    left: 0;
                    border-right: 2px solid #E7E9ED;
                    position: -webkit-sticky;
                    position: sticky;
                    z-index: 8;
                    background: #fff;

                    div {
                        position: -webkit-sticky;
                        position: sticky;
                        top: 40px;
                        width: 96px !important;
                    }
                }

                .timeline-events {
                    &__event {
                        font-size: 14px;
                        color: #3E516C;
                        width: fit-content;
                        max-width: 300px;
                        background: #F5F6F8;
                        border-radius: 4px;
                        padding: 3px 8px;
                        margin: 20px;
                        margin-right: 0;
                    }

                    &__num {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        color: #3E516C;
                        width: fit-content;
                        max-width: 300px;
                        background: #F5F6F8;
                        border-radius: 4px;
                        padding: 3px 8px;
                        padding: 3px 10px;
                        color: #1890FF;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.timeline-user-card {
    width: 90%;
    left: 10%;
    padding: 16px 20px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    h2 {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #3E516C;
    }

    p {
        margin: 0;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
}

.user-timeline__events {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    overflow-y: scroll;

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        background: #E7E9ED;
        top: 0;
        bottom: 0;
        left: 20%;
        margin-left: -1px;
    }
}

.timeline-event__container {
    padding: 16px 32px;
    position: relative;
    background: inherit;
    width: 75%;
    left: 20%;

    &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 1px;
        top: 44px;
        background: #8692A3;
        z-index: 1;
        left: 8px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 36px;
        background: #ffffff;
        border: 1px solid #8692A3;
        border-radius: 20px;
        z-index: 1;
        left: -8px;
    }

    .timestamp {
        position: absolute;
        display: inline;
        font-size: 14px;
        font-weight: bold;
        color: #8692A3;
        text-transform: uppercase;
        letter-spacing: 1px;
        z-index: 1;
        top: 34px;
        left: -100px;
    }

    .content {
        padding: 16px 20px;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
        border-radius: 4px;

        h2 {
            font-size: 14px;
            font-weight: 500;
            color: #3E516C;
        }

        p {
            margin: 0;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
        }
    }
}