.block {
    display: flex;
    flex-direction: column;
    
    &__content {
        display: flex;
        justify-content: flex-start;
        position: relative;

        &__txt_muted {
            display: flex;
            align-items: center;
            margin-left: 16px;
        }
    }
}

.filterSelect {
    left: 0;
    
}

.filterDelBtn {
    left: auto;
    right: 0;
}
