
  .section-padding {
    padding: 60px 0;
  }

  .section-header {
    margin-bottom: 30px;
  }

.section-header p {
  text: center;
  font-weight: 400;
  line-height: 26px;
}
.section-title {
  font-size: 30px;
  color: #222222;
  display: inline-block;
  font-weight: 700;
  position: relative;
}
#blog .blog-item-wrapper {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

#blog .blog-item-wrapper:hover {
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.2);
}

#blog .blog-item-wrapper:hover .blog-item-img:before {
  opacity: 1;
  height: 100%;
  width: 100%;
}

#blog .blog-item-img {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#blog .blog-item-img img {
  width: 100%;
}

#blog .blog-item-text {
  padding: 20px;
}

#blog .blog-item-text h3 {
  font-size: 15px;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
}

#blog .blog-item-text h3 a {
  color: #333;
}

#blog .blog-item-text h3 a:hover {
  color: #3d60f4;
}

#blog .blog-item-text p {
  line-height: 25px;
  margin-bottom: 20px;
}

#blog-single {
    padding: 60px 0;
  }
  
  #blog-single .blog-post {
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 40px;
  }
  
  #blog-single .blog-post .post-thumb img {
    width: 70%;
    padding: 30px 30px 30px 50px;
  }
  
  .blog-img-full-width {
    width: 100% !important;
    padding: 0px !important;
  }

  #blog-single .blog-post .post-content {
    padding: 100px 100px 30px 100px;
  }
  
  #blog-single .blog-post .post-content h3 {
    font-size: 23px;
    padding-bottom: 30px;
    font-weight: bolder;
  }

  #blog-single .blog-post .post-content h5 {
    font-size: 18px;
    font-weight: bolder;
  }

  .post-content li {
    font-size: 18;
    font-weight: 100
  }

  .blog-comment {
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    margin-top: 30px;
    overflow: hidden;
  }
  
  .blog-comment h4 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .blog-comment .comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }
  
  .blog-comment .comment-list .the-comment {
    border-bottom: 1px solid #e7e6e6;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  
  .blog-comment .comment-list .children {
    padding-left: 40px;
  }
  
  .blog-comment .avatar {
    float: left;
    margin-right: 15px;
    padding: 5px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #f1f1f1;
  }
  
  .blog-comment .comment-author {
    margin-bottom: 10px;
  }
  
  .blog-comment .meta {
    margin-bottom: 10px;
    color: #999;
  }
  