.shareModal {
  :global(.ant-modal-body) {
    padding: 36px;
  }
  :global(.ant-modal-footer) {
    padding: 0px;
    display: none;
  }
  :global(.ant-modal-content) {
    border-radius: 12px;
  }
}
