.border--thin{
    border: thin solid $fa-color--mono-1;
}
.border--thin-2{
    border: thin solid $fa-color--mono-2;
}
.border-bottom--thin{
    border-bottom: thin solid $fa-color--mono-1;
}
.border-bottom--thin-2{
    border-bottom: thin solid $fa-color--mono-2;
}
.border-right--thin{
    border-right: thin solid $fa-color--mono-1;
}
.border-right--thin-2{
    border-right: thin solid $fa-color--mono-2;
}

.border-radius--medium{
    border-radius: 8px;
}