.border--thin{
    border: thin solid $fa-color--mono-1;
}
.border--thin-2{
    border: thin solid $fa-color--mono-2;
}
.border--thin-2--transparent{
    border: thin solid transparent;
}
.border--thin-2--brand{
    border: thin solid $fa-color--brand-color;
}

.border-bottom--thin{
    border-bottom: thin solid $fa-color--mono-1;
}
.border-bottom--thin-2{
    border-bottom: thin solid $fa-color--mono-2;
}
.border-bottom--thin-3{
    border-bottom: thin solid $fa-color--mono-3;
}
.border-top--thin{
    border-top: thin solid $fa-color--mono-1;
}
.border-top--thin-2{
    border-top: thin solid $fa-color--mono-2;
}
.border-right--thin{
    border-right: thin solid $fa-color--mono-1;
}
.border-right--thin-2{
    border-right: thin solid $fa-color--mono-2;
}
.border-right--thin-3{
    border-right: thin solid $fa-color--mono-3;
}
.border-left--thin{
    border-left: thin solid $fa-color--mono-1;
}
.border-left--thin-2{
    border-left: thin solid $fa-color--mono-2;
} 
.border-radius--medium{
    border-radius: 8px;
}
.background-color--brand-color-1{
 background-color: $fa-color--brand-1;
}

.background-color--mono-color-1{
 background-color: $fa-color--mono-1;
}
.background-color--mono-color-2{
 background-color: $fa-color--mono-2;
}

.border-radius--sm
{
    border-radius: 4px;
}