
// Functional Colors
$fa-color--white: #fff;
$fa-color--black: #000000;
$fa-color--red: #EA6262;
$fa-color--red-new: #EE3C3C;
$fa-color--orange:#EFAA6D;
$fa-color--green:#5ACA89;
$fa-color--yellow:#F9C06E;
$fa-color--blue:#4D7DB4;

$fa-color--danger: $fa-color--red;
$fa-color--warning: $fa-color--orange;
$fa-color--success:$fa-color--green;


//Brand Color
$fa-color--brand-1:#F8F8FC;
$fa-color--brand-2:#EEEDF8;
$fa-color--brand-3:#CDC8EB;
$fa-color--brand-4:#ACA4DE;
$fa-color--brand-5:#7A6DC9;
$fa-color--brand-6:#5949BC; //base brand-color
$fa-color--brand-7:#473A96;
$fa-color--brand-8:#352C71;
$fa-color--brand-9:#2C245E;
$fa-color--brand-10:#100635;
// $fa-color--brand-color: $fa-color--brand-6;  
$fa-color--brand-color: #1E89FF;  


//Mono Colors
$fa-color--mono-1: #F5F6F8;
$fa-color--mono-2: #E7E9ED;
$fa-color--mono-3: #B7BEC8;
$fa-color--mono-4: #8692A3;
$fa-color--mono-5: #3E516C;
$fa-color--mono-6: #0E2647; //Base mono color
$fa-color--mono-7: #0B1E39;
$fa-color--mono-8: #08172B;
$fa-color--mono-9: #08172B;
$fa-color--mono-10: #08172B; 
$fa-color--mono-color: $fa-color--mono-6;


// Font Size
$font-weight--thin: 400;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 600;

//Font family 
$font-family: 'Open Sans', sans-serif !important;
// $font-family: 'Work Sans', sans-serif !important;