// Functional Colors
$fa-color--white: #fff;
$fa-color--black: #000000;
$fa-color--red: #FF4D4F;
$fa-color--red-new: #ee3c3c;
$fa-color--orange: #efaa6d;
$fa-color--green: #5aca89;
$fa-color--yellow: #f9c06e;
$fa-color--blue: #82aee0;
$fa-color--blue-1: #82aee0;

$fa-color--danger: $fa-color--red;
$fa-color--warning: $fa-color--orange;
$fa-color--success: $fa-color--green;

//Brand Color
$fa-color--brand-1: #f8f8fc;
$fa-color--brand-2: #eeedf8;
$fa-color--brand-3: #cdc8eb;
$fa-color--brand-4: #aca4de;
$fa-color--brand-5: #7a6dc9;
$fa-color--brand-6: #5949bc; //base brand-color
$fa-color--brand-7: #473a96;
$fa-color--brand-8: #352c71;
$fa-color--brand-9: #2c245e;
$fa-color--brand-10: #100635;
// $fa-color--brand-color: $fa-color--brand-6;
$fa-color--brand-color: #1e89ff; 
$fa-color--brand-color-1: #91D5FF;
$fa-color--brand-color-6: #1890ff;

//Mono Colors
$fa-color--mono-1: #f5f6f8;
$fa-color--mono-2: #e7e9ed;
$fa-color--mono-3: #b7bec8;
$fa-color--mono-4: #8692a3;
$fa-color--mono-5: #3e516c;
$fa-color--mono-6: #0e2647; //Base mono color
$fa-color--mono-7: #0b1e39;
$fa-color--mono-8: #08172b;
$fa-color--mono-9: #08172b;
$fa-color--mono-10: #08172b;
$fa-color--mono-color: $fa-color--mono-6;

// Font Size
$font-weight--thin: 400;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 600;

//Font family
$font-family: 'Inter', 'Work Sans', sans-serif, 'Helvetica Neue', Arial,
  'Noto Sans' !important;
// $font-family: 'Work Sans', sans-serif !important;

$fa-chart-color-1: #82aee0;
$fa-chart-color-2: #7cbad9;
$fa-chart-color-3: #83d2d2;
$fa-chart-color-4: #86d3a3;
$fa-chart-color-5: #e5dd8c;
$fa-chart-color-6: #f9c06e;
$fa-chart-color-7: #e89e7b;
$fa-chart-color-8: #d4787d;
$fa-chart-color-9: #b87b7e;
$fa-chart-color-10: #aa94c4;

$fa-color-neutral-grey-2: #fafafa;
$fa-color-neutral-grey-3: #f5f5f5;
$fa-color-neutral-grey-4: #f0f0f0;
$fa-color-neutral-grey-10: #262626;
$fa-color-neutral-grey-11: #1f1f1f;

$fa-color-disabled-color: #8692a3;
$fa-color-brand-1: #e6f7ff;

$fa-color-character-primary: rgba(0, 0, 0, 0.65);
$fa-color-character-title: rgba(0, 0, 0, 0.85);
$fa-color-character-secondary: rgba(0, 0, 0, 0.45);
