
// Colors
$fa-color--white: #fff;
$fa-color--red: #EA6262;
$fa-color--orange:#EFAA6D;
$fa-color--green:#56E693;

//Brand Color
$fa-color--purple:#5949BC;
$fa-color--brand-6:#5949BC;
$fa-color--purple-darken:#473A96;


//Mono Colors
$fa-color--mono-1: #F5F6F8;
$fa-color--mono-5: #3E516C;
$fa-color--mono-base: #0E2647;


// Font Size
$font-weight--thin: 300;
$font-weight--regular: 400;
$font-weight--bold: 600;

