@import 'Styles/abstracts/_variables.scss';

.heading {
  &:hover {
    border-bottom: 1px solid $fa-color--mono-5;
  }
}

.cmprCell {
  display: flex;
  flex-direction: column;

  &__first {
    font-weight: 600;
    font-size: 14px;
    color: $fa-color--mono-6;
    margin-bottom: 4px;
  }

  &__second {
    font-weight: 600;
    font-size: 12px;
    color: $fa-color--mono-4;
    margin-bottom: 4px;
  }

  &__change {
    display: flex;
    font-size: 12px;
    color: $fa-color--mono-4;
  }
}

.metricOptionsToggler {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

td.touchPointCol {
  padding: 0 !important;
}

.compareNumber {
  color: $fa-color--mono-4;
  font-size: 12px;
  line-height: 16px;
}

.changePercent {
  display: flex;
  color: $fa-color--mono-4;
  font-size: 12px;
  line-height: 16px;
}

.attributionMethodLabel {
  font-size: 0.625rem;
  color: $fa-color--mono-4;
}
