.onBoardContainer {
  padding: 20px 110px;
}

.horizontalCard {
  padding: 15px 0;
  .horizontalCardContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .horizontalCardLeft {
      display: flex;
    }
  }

  .cardExtension {
    padding: 0px 0px;
    .eachExtension {
      padding: 10px;
      display: flex;
      flex-wrap: nowrap;

      input {
        margin: 0 10px;
      }
    }
  }

  .btn {
    background: transparent;
    border-color: #dedede;
    &:hover {
      border-color: #8c8c8c;
    }
  }
  .brand {
    margin: 0 10px;
  }
  .brandItem {
    padding: 8px;
    border-radius: 6px;
    background: #f5f5f5;
  }
}

.toggleMenu {
  // transition: opacity 2s ease-in;
  animation: fadeIn 0.4s;
}

.notification {
  background-color: #fafafa;
  border-color: #d9d9d9;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
