 /* mobile or only mobile */
 @media (max-width: 767px) {
  .hero .content {
    padding-top: 40px !important;
  }

  .hero .content input {
    width: 100% !important;
    margin-bottom: 15px !important;
  }

  .hero .content button {
    width: 100% !important;
  }

  .no-mobile {
    display: none;
  }

  .tabs .content {
    display: block !important;
    margin-bottom: 50px;
  }

  .nav-exclude-margin {
    margin-top: 90px !important;
  }

  .main-container {
    margin-top: 35px !important;
  }

  .blog-container {
    padding-left: 0;
    padding-right: 0;
  }

  .author-card {
    padding-left: 20px;
  }

  #blog-single .blog-post .post-content {
      padding: 50px 45px 50px 45px !important;
      text-align: justify;
  }
}


body {
  font-family: 'Nunito', sans-serif;
  color: #263453;
  letter-spacing: 0.03rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-weight: 900;
  letter-spacing: 0.05rem;
  line-height: 2.2rem;
}

h3, h4, h5 {
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 2.2rem;
}

p, span {
  font-size: 18px;
  font-weight: 500;
}

select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button:hover {
  cursor: pointer;
}

.bborder {
  border: 1px solid; 
}

.navbar {
  background: #fff;
}

.nav-item {
  font-weight: 400;
  padding: 0 5px;
}

.nav-item a {
  color: rgba(0,0,0,.8) !important;
}

.nav-item .dropdown button {
  color: rgba(0,0,0,.8) !important;
  background: #fff !important;
  border: none !important;
}

.nav-item .dropdown button:focus {
  box-shadow: none;
}

.nav-item a:hover,
.nav-item button:hover {
  color: #20a8d8 !important;
}

.nav-item.active a {
  color: #005B96;
}

.nav-exclude-margin {
  margin-top: 150px;
}

.main-container {
  margin-top: 65px !important;
}

.nav-shadow {
  box-shadow: 0 0.125rem 0.7rem rgba(45,62,80,.1);
  -webkit-box-shadow: 0 0.125rem 0.7rem rgba(45,62,80,.1);
}

.hero .sub-text {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 25px;
}

.hero {
  padding-bottom: 8%;
}

.hero .content {
  padding: 30px;
}

.hero .content h2 {
  padding-bottom: 5px;
  padding-top: 10px;
  line-height: 2.8rem;
}

.hero .content img {
  width: 90%;
}

.hero .content input {
  border: 2px solid #03396C;
  height: 50px;
  margin-right: 10px;
  width: 60%;
  padding: 15px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: inherit;
}

.hero .content input::placeholder {
  color: #8E9EAC;
}

button {
  font-weight: 700;
}

.cta {
  padding: 15px 20px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 2px;
}

.cta.primary {
  margin-right: 15px;
  background: #019875;
}

.cta.primary:hover {
  background: #4daf7c;
}

.cta.secondary {
  background: #20a8d8;
}

.cta.secondary:hover {
  background: #5cb7d8;
}

.cta.primary.cta-nav {
  padding: 10px 16px;
  font-size: 14px;
}

.hero-content p {
  padding-bottom: 10px;
}

.hero-content img {
  width: 100%
}

.top-banner {
  padding-top: 50px !important;
  padding-bottom: 40px !important;
}

.banner {
  text-align: center;
  padding: 50px;
  letter-spacing: 0.08rem;
}

.banner h3 {
  font-weight: 400;
  padding-bottom: 5px;
  letter-spacing: inherit;
}

.banner button {
  padding: 15px 30px;
}

.banner button:focus {
  border: none;
}

.banner p {
  padding-bottom: 5px;
  letter-spacing: inherit;
}

.banner-dark {
  background: #011F4B;
  color: #fff;
}

.banner-light {
  background: #fff;
  color: #011F4B;
}

.tabs .header {
  padding-bottom: 50px;
  text-align: center;
}

.tabs .header h4 {
  display: inline-block;
  width: auto;
  border-bottom: 5px solid #fff;
  border-radius: 2px;
}

.tabs .header h4:hover {
  border-bottom-color: #005B96 !important;
  cursor: pointer;
}

.active-tab {
  border-bottom-color: #005B96 !important;
}

.tabs {
  margin-top: 120px;
  margin-bottom: 120px;
}

.tabs .content p {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tabs .content .txt {
  padding: 20px 45px;
}

.tabs .content .image {
  padding: 30px 80px;
}

.shaded-background {
  background: #F8FBFE;
}

.top-margin {
  margin-top: 50px;
}

.screenshot img {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.gda {
  padding: 80px 30px;
  padding-bottom: 100px;
}

.centered-title {
  text-align: center;
  padding-bottom: 15px;
  font-weight: 700;
}

.gda p, .gda span {
  font-size: 18px;
}

.blog {
  padding: 100px 30px;
  text-align: justify;
}

.bottom-banner {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.bottom-banner h3 {
  padding-bottom: 20px;
  line-height: 2.5rem;
}

.tabular {
  text-align: center;
}

.tabular .content {
  padding-bottom: 20px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #283655;
  color: #fff;
  text-align: center;
}

.footer img {
  margin: 10px;
  margin-bottom: 50px
}

.copyright {
  font-size: 16px;
}

.break {
  width: 30%;
  background: #91CFF0;
  height: 6px;
  border: 1px solid #fff;
  border-radius: 6px;
}

.error {
  color: #d91e18;
}

.success {
  color: #26a65b;
}

.pricing-card {
  text-align: center;
  padding: 30px;
  height: 690px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.pricing-card h4 {
  color: #444;
}

.pricing-card .image {
  margin: 25px;
}

.pricing-card button {
  color: #ffffff;
  background: #019875;
  font-size: 16px;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 6px;
  padding: 10px 18px;
}

.pricing-card .pricing-desc{
  height: 220px;
  margin-bottom: 20px;
}

.pricing-card p {
  font-size: 16px;
  margin-bottom: 3px
}

.pricing-card .price {
  background: #ECF5FC;
  padding: 12px;
  margin-bottom: 20px;
  margin-left: -30px;
  margin-right: -30px;
}

.pricing-card .no-price {
  background: #7CDAFF;
  border-radius: 10px;
  height: 3px;
  width: 150px;
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 50px;
}

.pricing-card .price p {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0;
}

.pricing-card .price span {
  font-weight: 500;
  font-size: 12px;
}

.pricing-card .cta-msg p {
  font-size: 14px;
  color: #444;
  margin-bottom: 11px;
}

.pricing-card .no-cta-msg {
  margin-top: 30px;
}

.container-bottom {
  margin-bottom: 90px;
}

.feature-card {
  text-align: center;
  margin: 12px;
  margin-bottom: 35px;
}

.feature-card img {
  width: 100%;
  height: 100%;
}

.feature-card .image {
  height: 50px;
  width: auto;
  display: inline-block;
  margin: 10px;
}

.feature-card p {
  font-size: 16px;
}

.feature-card span.tag {
  color: #d64541;
  font-size: 13px;
  border: 1px solid #d64541;
  border-radius: 5px;
  padding: 1px 6px;
}