@import '../../styles/abstracts/variables';

$inactiveTabColor: #8692A3;
$activeTabColor: #3E516C;

.contentTabs {
    :global(.ant-tabs-nav-list) {
        width: 100%;
    }

    :global(.ant-tabs-tab.ant-tabs-tab-active) {
        background: #F5F6F8;
        box-shadow: inset 0px 1px 0px #E7E9ED, inset 0px -1px 0px #B7BEC8, inset -1px 0px 0px #E7E9ED;
        border-bottom: none;
    }

    :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
        font-weight: 600;
        color: $activeTabColor;
    }

    :global(.ant-tabs-ink-bar.ant-tabs-ink-bar-animated) {
        display: none;
    }
    
    :global(.ant-tabs-tab) {
        width: 25%;
        margin-right: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: 500;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px #B7BEC8, inset 0px 1px 0px #E7E9ED, inset -1px 0px 0px #E7E9ED;
        color: $inactiveTabColor;
        line-height: 24px;
        letter-spacing: -0.01em;
        font-family: $font-family;
    }
}