@import '../../styles/abstracts/variables';

.app-sidebar {
  background-color: $fa-color--white;
  border-right: 1px solid $fa-color-neutral-grey-4;
  min-width: 264px !important;
  width: 264px !important;
  max-width: 264px !important;
  position: fixed !important;
  top: 3.5rem;
  height: calc(100vh - 3.5rem) !important;

  transition: 0.4s;

  &.collapsed {
    min-width: 48px !important;
    width: 48px !important;
    max-width: 48px !important;
  }
}

.dashboard-list-container {
  max-height: calc(100vh - 18rem);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebar_action_button {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
  &:focus,
  &:hover {
    color: #40a9ff;
    background: #fff;
    border-color: #40a9ff;
    .sidebar_action_button__content {
      color: #40a9ff;
      fill: #40a9ff;
    }
  }
  &__content {
    color: rgba(0, 0, 0, 0.85);
    fill: rgba(0, 0, 0, 0.85);
  }
}

.sidebar-content-container {
  height: calc(100% - 3rem);
}

.accounts-list-container {
  max-height: calc(100vh - 13.5rem);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.collapsible-icon-wrapper {
  background-color: $fa-color-neutral-grey-2;
  border: 1px solid $fa-color-neutral-grey-4;
  position: absolute;
  right: -1rem;
}

.sidebar-menu-item {
  :global(.fai-text) {
    color: $fa-color-character-primary;
    font-weight: 400;
  }

  .more-actions-icon {
    display: none;
  }

  &.hovered {
    background-color: $fa-color-neutral-grey-3;

    .more-actions-icon {
      display: block;
    }
  }

  &:hover {
    background-color: $fa-color-neutral-grey-3;

    .more-actions-icon {
      display: block;
    }
  }
  &.active {
    background-color: $fa-color-brand-1;
    :global(.fai-text) {
      color: $fa-color--brand-color-6;
      font-weight: 500;
    }
  }
}

.item-active {
  background-color: $fa-color-brand-1;
}

.item-active-override {
  font-weight: 500 !important;
  color: #1890ff !important;
}

.draft-title {
  &:hover {
    background-color: $fa-color-neutral-grey-3;
  }
}

.subMenu-title {
  border-bottom: '1px solid #eee';
}

.dashboard-more-options-menu {
  &:hover {
    background-color: $fa-color-neutral-grey-3;
  }
  &:focus {
    outline: none;
  }
}

.more-actions-popover {
  :global(.ant-popover-inner-content) {
    padding: 0 !important;
    border-radius: 0.25rem;
  }
  :global(.ant-popover-arrow) {
    display: none;
  }
}

.input {
  color: $fa-color--mono-5;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px;
  background-color: #f5f6f8;
  border: 1px solid #e7e9ed;
}

.sidebar-search-input {
  border-radius: 0.375rem !important;
}

.dashboard-folder {
  &:focus,
  &:active,
  &:focus-visible {
    outline: none;
  }
}

.folder-dashboards-list {
  transition: all 2s linear 1s;
}

.settings-sidebar{
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.settings-sidebar::-webkit-scrollbar {
  display: none;
}