$cq-card-transition: transform .2s ease-in-out;

.cardnew
{
    margin-left: 1.2rem;
    
    // overflow: hidden;
    &:hover{
        box-shadow : 6px 7px 17px #E7E9ED;
    }
    &.disabled{
        pointer-events: none; 
        cursor: not-allowed;
        box-shadow : none !important;
        opacity: 0.7;
    }
}

.close{
  position: absolute;
  right: 3.5rem;
  top: 3.5rem;
}

