.group_block {
  display: flex;
  position: relative;
  align-items: center;

  &__group_content {
    color: #5949bc;
    font-weight: 500;
    font-size: 14px;
    display: flex;
  }

  &__event_selector {
    position: absolute;
    top: 0px;

    &__btn {
      position: relative;
    }

    .ant-select-selector {
      border-radius: 12px;
    }

    &__select {
      width: 380px;
      max-height: 480px;
      min-height: 240px;
      position: absolute;
    }
  }

  &__select_ct {
    @extend .group_block__event_selector;
    top: -500px;
  }

  &__remove {
    position: absolute;
    left: -12px;
  }
}

.grpProps {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 8px;
  font-size: 14px;
  color: #8692a3;

  &__select {
    display: flex;
    margin-left: 8px;

    &__opt {
      color: #5949bc;
      text-transform: capitalize;
    }

    &__opt:hover {
      cursor: pointer;
    }
  }
}
