@import '../../../styles/abstracts/variables';

.subtext {
  font-size: 14px !important;
}

.dropdown-placeholder {
  color: $fa-color--brand-color-6;
}

.unit-dropdown {
  overflow: hidden;
  :global(.ant-select-selector) {
    border: none !important;
  }
}

.input-border {
  border: 1px solid $fa-color--mono-3;
}
