.modal-globalsearch {
  border-radius: 12px;
}
.modal-globalsearch .ant-modal-content {
  border-radius: inherit !important;
}
thead.ant-table-thead span.ant-table-column-title {
  overflow: hidden !important;
}
