@media (min-width: 320px) and (max-width: 480px) {
    .fapp-header-dropdown {
        width: 60% !important;
        text-align: left;
    }
}

.react-toggle {
    touch-action: pan-x;
  
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0 12px;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  
  .react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4D4D4D;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
  }
  
  .react-toggle--checked .react-toggle-track {
    background-color: #19AB27;
  }
  
  .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128D15;
  }
  
  .react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-x {
    opacity: 0;
  }
  
  .react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19AB27;
  }
  
  .react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
  }
  
  .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
  }

/*
Custom application CSS
*/

body {
    background: #fff !important;    
}

.btn {
    font-weight: 500 !important;
}

/* React Select */

.css-2o5izw {
    box-shadow: none !important;
}

.css-1aya2g8 {
    border-color: #8f9ba6;
}

/* End of React Select */

/* core-ui class overrides */

.sidebar .nav{
    font-weight: 500 !important;
}

.sidebar .nav-link .nav-icon {
    font-size: 1rem !important;
    color: #fff !important;
}

.sidebar .nav-link.active {
    background: #31476e !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link.active .nav-icon {
    color: #20a8d8 !important;
}

.sidebar-minimized .sidebar .sidebar-nav {
    overflow: visible !important;
}

.sidebar-minimized .sidebar .nav-link .nav-icon {
    font-size: 20px !important;
}

.sidebar-minimized .sidebar .nav-link {
    padding-top: 18px;
    padding-bottom: 18px;
}

.sidebar-minimized .sidebar .sidebar-nav {
    width: 60px !important;
}

.sidebar-minimized .sidebar .nav-item {
    width: 60px !important;
}

.sidebar-minimized .sidebar .nav-link .nav-icon {
    width: 60px !important;
}

.sidebar-minimized.sidebar-fixed .sidebar {
    width: 60px !important;
}

.dropdown-menu {
    margin-top: 0.5rem !important;
}

.card-header {
    color: #484848;
    border-color: #ddd;
}

.card-body {
    border-color: #ddd;
}

/* End of core-ui class overrides */


.fapp-body {
    margin-top: 0 !important;
}

.fapp-main {
    margin-left: 60px !important;
}

.fapp-sidebar {
    background: #192a56 !important;
}

.fapp-right-pane {
    height: 100%;
    padding-top: 65px !important;
}

.fapp-header {
    padding-left: 50px !important;
    padding-right: 90px !important;
    height: 65px !important;
    border: none !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 5px 10px 0 rgba(0, 0, 0, 0);
}

.fapp-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.fapp-content-margin {
    margin-left: 4rem;
    margin-right: 4rem;
}

.fapp-header-dropdown {
    width: 22%;
}

.fapp-bell {
    font-size: 1.6rem;
    display: block;
    margin-top: 5px;
    color: #404040
}

.fapp-search-card {
    border: none !important;
    margin-bottom: 0.5rem !important;
}

.fapp-search-card .card-body {
    padding: 4rem 1.25rem 1rem 1.25rem !important;
}

/* search card select class */
.fapp-search-card .css-1aya2g8 {
    min-height: 55px;
    padding: 5px 8px;
}

.fapp-select .css-1aya2g8 {
    background: none;
    border-color: #8f9ba6;
}

.fapp-select .css-10odw4q {
    color: #444444;
}

.fapp-select .css-va7pk8 {
    color: #444444;
}

.fapp-select .css-11unzgr {
    overflow-wrap: break-word;
}

/* On hover class for select */
.fapp-search-card .css-2o5izw {
    min-height: 55px;
    font-size: 14px;
    padding: 5px 8px;
    border-color: #8f9ba6;
}

.fapp-search-card .css-1ep9fjw {
    color: #8f9ba6
}

/* Placehoder text on select */
.fapp-search-card .css-1492t68 {
    letter-spacing: 0.05rem;
}

.fapp-search-card .form-group {
    margin-bottom: 2rem;
}

.fapp-search-card .btn {
    padding: 6px 28px;
    font-size: 1rem;
}

.fapp-card-border-none {
    border: none !important;
}

.fapp-sidebar-form .css-1ep9fjw {
    color: #8f9ba6;
    background-color: white;
    border-radius: 10px;
}

.fapp-chart-card-header {
    background: none !important;
    border-bottom: none !important;
    line-height: 1.5rem;
    padding: 1rem 2.5rem 0.3rem 2.5rem !important;   
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #23282c;
}

.fapp-chart-card-body {
    padding: 1rem 1.25rem 0.5rem 1.25rem !important;
}

.fapp-chart-card-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0rem 0.0rem 0.25rem 2.5rem !important;
    font-size: 14px !important;
    font-weight: lighter !important;
}

.no-border { 
    border: none !important;
}

.fapp-code {
    background: #f5f5f5;
    padding: 20px 30px;
    border-radius: 12px;
    font-family: monospace;
    font-size: 13px;
    color: #404040;
}

.fapp-toggle-label {
    font-weight: 500;
    color: #484848;
    font-size: 15px;
}

.fapp-inline-button {
    background: transparent !important;
    border: none !important;
    padding: 5px !important;
}

.fapp-inline-button i {
    font-size: 20px
}

.fapp-input-disabled {
    background: #F8F8F8
}

.fapp-card {
    border: none !important;
    margin-bottom: 2rem !important;
}

.fapp-card .card-header {
    border: none;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    background: none;
    padding: 5px;
    margin-bottom: 15px;
}

.fapp-card .card-body {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

div.setting-card:hover{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
}

.fapp-label {
    color: #484848;
    font-weight: 600;
}

.fapp-bordered-card {
    color: #484848;
}

.fapp-bordered-card .card-header {
    background: #F3F4FB;
}

.fapp-bordered-card .card-body {
    padding: 3rem 3rem;
}

.fapp-input {
    border: 1px solid #8f9ba6 !important;
    padding: 1.2rem 0.8rem !important;
    color: #484848 !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fapp-only-header {
    border: 1px solid #ddd !important; 
    background: #F3F4FB !important;
    border-radius: 10px !important;
    padding: 15px 20px 12px !important;
}

.fapp-button-header {
    padding: 15px 20px 20px !important;
}

.fapp-block-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.fapp-big-font {
    font-size: 17px !important;
    color: #000 !important;
    letter-spacing: 0.02rem;
    font-weight: 300;
}

.fapp-cta-button {
    padding: 10px !important; 
    font-weight: 700 !important;
    font-size: 16px !important;
    background-color: #019875 !important;
    border-color: #019875 !important;
    width: 100%;
}

.fapp-cta-button:hover {
    background-color: #4daf7c !important;
}

.fapp-error {
    color:#d64541; 
    font-weight: '500';
    text-align: center; 
}

.fapp-error-span {
    color: #d64541;
    font-weight: 700;
    display: block;
    text-align: center;
}

.fapp-close-button {
    border: none;
    color: #808080;
    font-size: 20px;
    margin-left: 5px;
    font-weight: 500;
}

.fapp-close-round-button {
    color: #3e484f;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 300;
    float: right;
    border: 4px solid #eff2f7;
}

.fapp-close-button:hover,
.fapp-close-button:focus,
.fapp-close-round-button:hover,
.fapp-close-round-button:focus {
    outline: none;
}

.fapp-table {
    text-align: center;
    border: 3px solid #EBEDFD;
}

.fapp-table thead th {
    border-bottom: none !important;
    background: #EBEDFD;
}

.fapp-table td {
    border-top: 3px solid #EBEDFD !important;
    border-right: 3px solid #EBEDFD !important;
}

.fapp-date-picker {
    position: absolute;
    z-index: 100; 
    display: inline-block;
}

.fapp-date-picker .rdrDateRangePickerWrapper {
    border: 2px solid #eff2f7;
}

.fapp-dunit .card-header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    background: #fff;
    border-bottom: none;
    color: #444;
}

div .fapp-overflow-dot {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}