$textColor: #3E516C;
$tooltipColor: #08172B;

.lineChart {
    
    :global(.c3-ygrid) {
        stroke-dasharray: 0 !important;
    }

    :global(.c3-axis.c3-axis-y .tick line),
    :global(.c3-axis.c3-axis-x .tick line),
    :global(.c3-axis.c3-axis-y .domain),
    :global(.c3-axis.c3-axis-x .domain) {
        display: none;
    }

    :global(.c3-grid line) {
        stroke: #E7E9ED !important;
    }

    :global(.c3-axis .tick text) {
        font-size: 12px;
        line-height: 18px;
        fill: $textColor;
        font-weight: 400;
    }

    :global(.toolTip) {
        width: 200px;
        padding: 12px 16px 12px 16px;
        background: #FFFFFF;
        border: 1px solid #E7E9ED;
        border-radius: 12px;
        font-family: 'Work Sans', sans-serif;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
        color: $tooltipColor;
        font-weight: 400;
        word-wrap: break-word;
        font-size: 14px;
        line-height: 20px;
    }
}