.dropdown {
  &__select {
    position: absolute;

    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;

    &_placement_bottom {
      top: 32px;
    }

    &_placement_top {
      bottom: 32px;
    }

    &_right_0 {
      right: 0;
      width: 300px;
    }

    &_left_0 {
      left: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      overflow-y: auto;
      margin-top: 8px;
      position: relative;
      &__options {
        width: 100%;
        padding: 8px 12px !important;

        h4 {
          max-width: 332px;
        }
      }
    }

    &__header {
      display: flex;
      width: 100%;
      padding: 10px 8px;
    }
  }

  &__hd_overlay {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 50;
  }
}

.fa_selected {
  background: #f8f8fc;
  cursor: auto;
}

.optText {
  // text-transform: capitalize;
  width: 90%;
}

.numberTag {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1px 8px;
  gap: 10px;
  height: 16px;

  /* Neutral/gray-3 */

  background: #f5f5f5;
  border-radius: 23px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
