@import '../../../styles/abstracts/variables';

.user_profiles {
  &__event_selector {
    position: relative;
    &__select {
      width: 380px;
      height: 400px;
      position: absolute;
    }
  }
}

.more-actions-popover {
  :global(.ant-popover-inner-content) {
    padding: 0.5rem 0 !important;
  }
}

.user-profiles-table {
  padding: 0;
  & th {
    padding: 0 !important;
    height: 48px;

    & > div {
      padding: 0 16px;
    }
  }

  & td[class] {
    padding: 6px 12px !important;
  }

  & tr:hover td {
    background-color: #fafafa !important;
  }

  & tr {
    max-height: 48px !important;
    height: 48px;
  }
}
