<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Autometa Insights</title>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet">
  <link href="static/css/application.css" rel="stylesheet" type="text/css">
  <link href="static/css/londinium-theme.css" rel="stylesheet" type="text/css">
  <link href="static/css/styles.css" rel="stylesheet" type="text/css">
  <link href="static/css/icons.css" rel="stylesheet" type="text/css">
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

  <link rel="icon" type="image/png" href="static/images/analytics.png">
</head>

<body class="sidebar-narrow">
	<!-- Page container -->
 	<div class="page-container">


		<!-- Sidebar -->
		<div class="sidebar">
			<div class="sidebar-content">

				<!-- Main navigation -->
				<ul class="navigation">
					<li class="main-logo" >
						<a href="">
							<img src="static/images/analytics.png"></img>
						</a>
					</li>
					{{template "navigation" .}}
				</ul>
				<!-- /main navigation -->
				
			</div>
		</div>
		<!-- /sidebar -->


		<!-- Page content -->
	 	<div class="page-content">

			<!-- Page header -->
			<div class="page-header">
				<div class="page-title">
					{{template "title" .}}
				</div>

				<div class="header-select">
					<div class="collapse" id="header-select">
						<div class="well">
							<form action="#" role="form">
		                        <select data-placeholder="Choose Project" id="project" class="select" tabindex="2">
		                        </select>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header -->
			
			{{template "content" .}}

		</div>
		<!-- /page content -->


	</div>
	<!-- /page container -->

	{{template "script" .}}

	<script>
	var globalProjectEvents = {{.projectEventsMap}};
	var globalcurrentProjectId;
								
	function initProjects() {
        if (!globalProjectEvents || globalProjectEvents.length == 0) {
            return;
        }

        var options = ""
       
		Object.keys(globalProjectEvents).forEach(function(projectId) {
    		projectName = globalProjectEvents[projectId]["name"];
			options += '<option value="'+ projectId + '"}>' + projectName + '</option>';
		});
        
        return options
    }
	
	$('document').ready(function(){
        var projectOptionsDiv = initProjects();
		globalCurrentProjectId = $('#project').val()
        var projectOptions = $(projectOptionsDiv);
		$('#project').append(projectOptions);
        $('#project').select2({dropdownAutoWidth: 'true'});
		$('#project').trigger("change");
    })
	</script>
</body>
</html>
