.first {
    width: 49%;
    border: 1px solid #B7BEC8;
    box-sizing: border-box;
    backdrop-filter: blur(31px);
    border-radius: 8px;
}

.second {
    background: linear-gradient(180deg, #2478C7 0%, #072960 100%);
    box-sizing: border-box;
    backdrop-filter: blur(31px);
    border-radius: 8px;
}

.img {
    position: absolute;
    width: 100px;
    height: 65px;
    right: 5px;
    bottom: 3px;
    z-index: -5;
}

.callimg {
    position: absolute;
    width: 180px;
    height: 180px;
    right: 4.79%;
    bottom: -16.3%;
    z-index: -5;
}

.video_responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video_responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}