.filter {
  display: flex;
  align-items: center;

  &__propContainer {
    position: relative;
  }

  &__event_selector {
    position: relative;

    &__btn {
      position: relative;
    }

    .ant-select-selector {
      border-radius: 12px;
    }
  }
}
