.filter {
    display: flex;

    &__propContainer {
        position: relative;
    }

    &__event_selector { 
        position: relative;
        // top: 30px;

        &__btn {
            position: relative;
        }

        .ant-select-selector {
            border-radius: 12px;
        }
    }
}