$textColor: #3E516C;
$factorsDarkColor: #0E2647;
$boxShadowPrimaryColor: #B7BEC8;
$boxShadowSecondaryColor: #E7E9ED;

.eventsText {
    &:hover {
        border-bottom: 1px solid $textColor;
    }   
}